[2013-10-31 02:50] ticoann opened #13 "typo in dbsTest.py"
https://github.com/ticoann/WmAgentScripts/blob/master/dbsTest.py#L146

shouldn't this be runlist instead of runList?

[2013-10-31 10:15] #13 closed, assigned to nobody

[2014-02-14 23:21] lucacopa opened #41 "change phedex client to point to dbs3"
There are some services connected to dbs2
https://github.com/CMSCompOps/WmAgentScripts/blob/master/phedexClient.py#L248

[2014-02-22 08:13] lucacopa opened #44 "Move scripts to WMCore"
Move all the scripts that are sourcing WMCore to WMCore/bin. The following need to be addressed:
0. Create tag for current repository
1. Fix existing DBS2 references
2. Use resource-control for thresholdsFromSSB and updateSites, It is probably better to  merge this 2 scripts
3. List of scripts to be megrated
4. Update Twikis, Update references to migrated scripts
5. Any idea to facilitate operator

[2014-04-03 21:26] lucacopa opened #51 "abortAndClone script problem"
Jen run this on a production machine and she is getting:

[vocms201] /afs/cern.ch/user/j/jen_a/WmAgentScripts > python abortAndClone.py abortandclone.lis
Traceback (most recent call last):
  File "abortAndClone.py", line 19, in <module>
    import RelVal.setDatasetStatusDBS3 as dbs3
ImportError: No module named RelVal.setDatasetStatusDBS3

I took a look to this and the repository was updated (RelV

[2014-04-04 14:53] #51 closed, assigned to julianbadillo

[2014-06-16 21:54] DAMason opened #69 "Need a killer script"
So as far as I know to preemptively kill work you do this:

https://twiki.cern.ch/twiki/bin/view/CMSPublic/CompOpsWorkflowOperatorResponsiblities#Force_Complete_WorkFlows

This is very tedious, especially if there are of order dozens that can be closed out.  Not clear also how safe this is in the end.  Once we have ~a dozen agents on the same team it will likely be impossible to do in this way.

C

[2014-06-23 15:59] #41 closed, assigned to nobody

[2014-10-04 18:06] DAMason opened #77 "Trouble pulling out processingVersion right in resubmit.py"
Think we have some work to do with resubmit.py related to processingString and processingVersion?

When playing around with cloning

vlimant_Winter532012DVBF1Parked_FNALPrio5_537p6_130311_155344_3218

I'm getting a problem in the code that tries to increment the processing version because

result["ProcessingVersion"] = helper.getProcessingVersion() + 1

is trying to add a string -- the helper.getP

[2014-10-06 08:22] #77 closed, assigned to nobody

[2016-02-25 21:19] ticoann opened #127 "reqmgr 2 change seems to be gone."
@vlimant, @julianbadillo Hi Jean-Roch, Julian

I made this change back in October.

https://github.com/CMSCompOps/WmAgentScripts/commit/a40dbb4b7210d8c5bfdc7a5cf75fb8d4f7ee1d78#diff-3fc98fbeeaadf6df0cfbc50d59551ffe

But it seem it is not exist in current file. But I don't see anyone was removing that change either.
Do you know what happen? was that causing the problem?

[2016-02-26 09:34] vlimant commented on #127
Hi,
https://github.com/CMSCompOps/WmAgentScripts/commit/f5ff1190c07c7d972dcb2d61d6bed11407f4456c labelled "Get back to previous version before ReqMgr2"

the current schema of trying reqmgr2, fail and fall back to reqmgr1 was probably too heavy ; Julian made that move, and indeed the changes in the commit have to be merged back in again.

[2016-02-26 16:52] ticoann commented on #127
Thanks Jean-Roch,  I talked Julian he said that there was problem with assign script when it gets cloned.
So it removed it. I will make the pull request again after fixing the problem he reported.

[2016-03-15 16:56] ticoann opened #132 "Update test cases."
@vlimant, @jenimal,  Hi Jean-Roch, Jen.
While you are running the test. Maybe it will be good to update this test if it is not much trouble.
https://github.com/CMSCompOps/WmAgentScripts/blob/master/test/test_reqMgrClient.py

[2016-04-22 14:20] #69 closed

[2016-04-22 14:21] #44 closed

[2016-04-22 14:21] vlimant commented on #127
All recovered.

[2016-04-22 14:21] #127 closed

[2016-05-25 12:12] vlimant opened #141 "update resubmit to reqmgr1/2 interface"
@prozober in https://github.com/CMSCompOps/WmAgentScripts/commit/f6d558df0fcddf63e3dda5509b8d903f810ce776

response = reqMgrClient.submitWorkflow(url,schema)
-    if verbose:
-        print "RESPONSE", response

should  be replace with the correct return value. see

https://github.com/CMSCompOps/WmAgentScripts/commit/936d239cf714f1bee75e5e44d5080991fe8eccae#diff-c85ca3c47cc041d187f10a761f700f36

[2016-06-09 19:04] areinsvo opened #150 "Setting acqera and procstring correctly when assigning"
@mcremone @prozober @amaltaro @vlimant

I want to make sure that the value for acquisition era and processing string are being fixed correctly in assign.py. I've had several conversations today about it and want to make sure we are all on the same page. There is still some confusion on what to set the values to for merge ACDCs. Now that we are using request manager 2, do we have to provide values

[2016-06-09 19:39] amaltaro commented on #150
Allie, I would change the upper part to more or less the following:
[code]

and for the last lines, I didn't check what happen downstream, but AcquisitionEra and ProcessingString cannot be sent AT ALL within the parameters during assignment (meaning, don't send empty strings, don't send None).

[2016-06-09 20:03] areinsvo commented on #150
Hi Alan,
Thanks, I can make those changes.

Downstream, in reqMgrClient.py, there are these lines in assignWorkflow that make it so that the parameters aren't sent at all for merge ACDCs:
    pop_useless = ['AcquisitionEra','ProcessingString']
    for what in pop_useless:
        if defaults[what] == None:
            defaults.pop(what)

[2016-06-10 03:30] areinsvo commented on #150
The changes were made and submitted in this pull request. We can continue the discussion there, if need be.
https://github.com/CMSCompOps/WmAgentScripts/pull/151

[2016-06-10 03:30] #150 closed

[2016-07-01 23:05] vlimant opened #156 "Memory is set as a string in resubmit"
https://cmsweb.cern.ch/reqmgr/view/showWorkload?requestName=prozober_SUS-RunIISpring15MiniAODv2-00487_00427_v0__160620_114742_8380

should be a float not a string
@prozober @areinsvo can you please fix this ?

[2016-07-04 10:25] prozober commented on #156
The change was made #158

[2016-07-25 09:35] vlimant opened #161 "Backfill option is not setting all value properly"
https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/prozober_task_SUS-RunIISpring16DR80-Backfill-00140__v1_T_160720_143230_6939

 is an example

[2016-07-25 11:21] prozober commented on #161
Hi,

The processing string and acquisition era for tasks belonging to TaskChain workflows, are not  correctly set when we want to create backfills. The problem was fixed here #162.

[2016-08-01 11:31] vlimant commented on #161
thanks

[2016-08-01 11:31] #161 closed

[2016-08-01 11:35] vlimant opened #165 "Merge ACDC priority should be very high"
if these stay forever in acquired, then the files will go away and we will have to start everything over.
set 5M+priority to merge ACDC.
this is clearly not optimal since that means that any subsequent task will be high priority too and invert everything.

@amaltaro best would be to have the agents acquire ACDC in highest priority.

[2016-08-01 11:39] amaltaro commented on #165
I'm sure you would eventually regret what you are asking for. I've seen cases where ACDC is almost as big as the original workflow, so we better keep it simple and use only priority numbers IMO.

[2016-08-01 11:42] vlimant commented on #165
it's ok. if the inial wf got running/completed with low priority, then having the acdc acquired first thing is fine and htcondor will deal with priority if needed.

[2016-08-07 14:21] vlimant opened #166 "ACDC workflow should be created only if the desired site is currently up"
otherwise we end up with ACDC that cannot run.

[2016-08-18 12:17] amaltaro opened #167 "Don't create ACDC workflows for Cleanup and LogCollect tasks"
It's not supported by the system. This type of data is not uploaded to the ACDCServer.
Please, fix the scripts creating ACDCs.

[2016-08-21 08:51] vlimant opened #168 "assign on ACDC should pick up the site white list from the ACDC doc"
so that one does not have to figure out where the wf should be assigned, it's enough to get the site list from the acdc doc.
@areinsvo @prozober the relevant accessor is available in utils.workflowInfo
@amaltaro : I don't think we should enforce this on the request manager side, in case one wants to do something fancy and assign to other sites with aaa

[2016-08-30 17:40] vlimant opened #171 "Uniformize options for recovery and ACDC"
we have to look at the details and be able to create the recovery (recoveryMissingLumis.py) while altering the same parameters are for resubmit.py.
That requires a careful code study and merging of functionality.

[2016-08-31 14:43] #156 closed

[2016-09-01 20:09] jenimal opened #172 "New Options for findOrphanACDC.py script"
The findOrphanACDCs.py script currently only finds orphans that are in status complete, and doesn't find recovery workflows. I would like to suggest 3 improvements.
1) We should have an option for finding orphans in closed-out as well
2) it should also look for orphan recovery workflows
3) for extra bonus points, output should be in a format easy to feed into the setCascadeStatus.py
script.
3.5) E

[2016-09-01 20:13] jenimal opened #173 "setCascadeStatus.py script is crashing"
I was going to cleanup orphaned ACDC's and recovery's out of the system.
We have the setCascadeStatus.py script, but it is currently crashing out:
jen_a@vocms049:~/WmAgentScripts $ python setCascadeStatus.py -h
usage: python ../RelVal/setrequeststatus.py <inputFile_containing_a_list_of_workflows> <new_status>
jen_a@vocms049:~/WmAgentScripts $ more announced
jen_a_ACDC_HIG-RunIISpring16DR80-01778_0

[2016-09-02 08:52] vlimant commented on #173
The script was pointing by default to testbed, hence the crash.

 I took the occasion to rewrite it

https://github.com/CMSCompOps/WmAgentScripts/commit/6c851ff0174412deb3eb9dd5572a1037fe67d4ca#diff-984dc8de5d06d4a5adc06cf75f2dac77

[2016-09-02 08:52] #173 closed

[2016-09-02 21:09] jenimal commented on #173
Tested it, and it works, but you changed the options, feeding it a file with a list of workflows is actually more convenient when you are cleaning up a lot of workflows, I can easily write a shell wrapper around it but was wondering why you changed that behavior?

I will also update the documentation on it.
https://twiki.cern.ch/twiki/bin/view/CMSPublic/CompOpsWorkflowOperationsWMAgentScripts#set_

[2016-09-02 21:12] vlimant commented on #173
the help is misleading. it actually supports both. ac quick look in the code tells it within 10s

[2016-09-09 19:02] jenimal commented on #173
Running this script to change workflows from closed-out to announced isn't working:
jen_a@vocms049:~/WmAgentScripts $ python setCascadeStatus.py --w dmason_BoogaBoogaDCache_160309_055331_9265 --s announced
Setting dmason_BoogaBoogaDCache_160309_055331_9265 to announced
jen_a@vocms049:~/WmAgentScripts $ python setCascadeStatus.py -w dmason_BoogaBoogaDCache_160309_055331_9265 -s 'announced'
Setting

[2016-09-14 01:23] vlimant commented on #173
https://github.com/CMSCompOps/WmAgentScripts/commit/33edd1c9f68ba36227b4a6381fab26394d5670de will fix that issue with cascading announced

[2016-09-16 13:15] prozober opened #175 "Default parameters for assign.py"
The assign.py script should be able to read the xrood and secondary_xrood parameters from the original workflow. Do you think we need to include something else?
@areinsvo @vlimant

[2016-09-21 20:28] ticoann opened #179 "recoveryMissingLumis.py doesn't work with reqmgr2"

[2016-09-30 08:42] prozober opened #181 "Input files from wmstats report"
Unified needs to pick up the input file information from the wmstats report, in order to make the whole list errors and decide what to do. https://github.com/dmwm/WMCore/issues/7243

[2016-10-12 22:24] vlimant opened #183 "Incorporate stuck transfer information"
https://test-cmstransfererrors.web.cern.ch/test-CMSTransferErrors/stuck_X.json

where X=1,2,m1,m3,m4,m5,m6.

The numbers refer to transfer error code, not time periods. mN refers to -N. The values are documented as basis values here: https://cmsweb.cern.ch/phedex/datasvc/doc/blockarrive

[2016-10-25 12:06] vlimant opened #184 "Wire logdb to Unified"
@amaltaro @ticoann : how does one post a message to logdb to a given workflow ? Does it work as a single text, or a list of texts ? Is there a specific url at which on can see that log for a give workflow ?
Nothing urgent, but we probably want to increasingly use that functionality @mcremone

[2016-10-25 15:21] vlimant commented on #179
@prozober FYI
@ticoann can you please be more precise in what was not functioning ?

[2016-10-26 12:50] prozober opened #185 "Assigning ACDC to sites not containing input data"
https://cmst2.web.cern.ch/cmst2/unified/report/pdmvserv_TOP-RunIISummer15wmLHEGS-00109_00183_v0__161005_164950_5013

E.g. for the production task we have several blue sites, not containing any input data and not available.
I would like to assign the ACDC (prozober_ACDC_TOP-RunIISummer15wmLHEGS-00109_00183_v0__161026_133634_9704 in this case), and not getting a message like this:
[u'T1_DE_KIT', u'T

[2016-10-26 13:02] vlimant commented on #185
the site checking mechanism is much too restrictive in the version I had put yesterday. pull in the master.
More work is needed to get the site checking to be optimum

[2016-10-27 15:57] vlimant opened #187 "Requirements for integration of RelVal in Unified"
As suggested by @drkovalskyi
Here we would like to collect the requirements and technical issues we might have moving the handling of the relval assignment from the current mechanism (https://twiki.cern.ch/twiki/bin/view/CMSPublic/CompOpsRelVal @AndrewLevin) to Unified (https://cmst2.web.cern.ch/cmst2/unified/  @mcremone @vlimant).
Maybe we can take the chance to integrate with a new submission to

[2016-10-28 09:24] vlimant opened #188 "Use the Quota instead of Free for tape setting"
@mcreomone as discussed with @sidnarayanan over chat, we should have TT have an way to ban MM endpoint, or throttle.
http://cmsmonitoring.web.cern.ch/cmsmonitoring/StorageOverview/latest/StorageOverview.json
we use the "Free" entry, once there is a "Usable" (or whatever else) we should switch to it.

[2016-10-29 20:57] vlimant opened #189 "reqMgrClient changePriorityWorkflow fails in reqmgr2"
I am getting

[code]

when calling
reqMgrClient.changePriorityWorkflow (https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L948) on vlimant_ACDC0_recovery-2-cerminar_Run2016B-v2-BTagMu-23Sep2016_8020__161029_212132_5062

De facto, it's the same error I am getting from the web interface https://github.com/dmwm/WMCore/issues/7327 @ticoann @amaltaro any idea how we change priori

[2016-10-31 16:16] prozober opened #190 "Problem with ACDC for RqMgr2 requets"
We have a problem with the makeACDC.py script, it is not able to create ACDCs for RqMgr2 requests. Some samples in assistance-manual [1].
This is the message we are getting [2].
[1]
pdmvserv_task_EXO-RunIIFall15DR76-04754__v1_T_161026_171602_8745
pdmvserv_task_EXO-RunIIFall15DR76-04734__v1_T_161025_051736_8033
pdmvserv_task_EXO-RunIIFall15DR76-04744__v1_T_161025_184330_1458
pdmvserv_task_EXO-RunII

[2016-10-31 16:33] prozober opened #191 "Problem with makeACDC and memory option"
We have this Montecarlo request https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=HIG-RunIISummer15wmLHEGS-00710, it had some 50660 exit codes, we need to increase memory to 10G.
When I run this:
`python makeACDC.py --all -m 10000 -w pdmvserv_HIG-RunIISummer15wmLHEGS-00710_00202_v0__161027_121520_2635`
I get:
[code]

[2016-10-31 16:47] ticoann commented on #179
Hi Jean-Roch, Sorry for getting back to the issue late.

I didn't  actually run the script. But by looking at the code it seems it is using.

from WMCore.Services.RequestManager.RequestManager import RequestManager

Which is only ReqMgr1 client.

This need to be changed with ReqMgr2 client.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/ReqMgr/ReqMgr.py

That is why I assume

[2016-10-31 20:34] prozober opened #192 "Problem with assign.py on third ACDC round"
For the third ACDC round of this Rereco I ran:
`python assign.py -s acdc -w prozober_ACDC2_Run2016B-v2-DisplacedJet-23Sep2016_8020_161031_205552_6055`

The script stays quiet, no output, no exceptions. When I stop the process (Ctrl+C),  I get:

[code]

[2016-11-01 04:26] vlimant commented on #191
please try the branch. we should merge it soon.

[2016-11-01 04:34] vlimant commented on #190
if you setup export UNIFIED_SUBMIT=reqmgr2 then it functions. It looks like reqmgr2 request ACDC can only be made in reqmgr2. @ticoann can you please confirm ?

[2016-11-01 04:35] vlimant commented on #190
for the record
vlimant_ACDC0_task_EXO-RunIIFall15DR76-04754__v1_T_161101_053335_2620 for /pdmvserv_task_EXO-RunIIFall15DR76-04754__v1_T_161026_171602_8745/EXO-RunIIFall15DR76-04754_0/EXO-RunIIFall15DR76-04754_1/EXO-RunIIFall15DR76-04754_1MergeAODSIMoutput/EXO-RunIIFall15MiniAODv2-04622_0
vlimant_ACDC0_task_EXO-RunIIFall15DR76-04754__v1_T_161101_053331_1524 for /pdmvserv_task_EXO-RunIIFall15DR76-04

[2016-11-01 09:13] prozober commented on #192
I did some tests, they were successful.

[2016-11-01 12:03] vlimant commented on #183
@sidnarayanan is there a non-test url for this now ?
@areinsvo @mcremone FYI

[2016-11-01 12:05] sidnarayanan commented on #183
@sebastianpulido can this be deployed in a non-test url?

[2016-11-03 03:42] #191 closed

[2016-11-03 03:43] #192 closed

[2016-11-03 03:43] vlimant commented on #179
I think I got it to work.

[2016-11-03 03:43] #179 closed

[2016-11-17 13:01] prozober opened #193 "recoverMissingLumis does not longer work with /reqmgr/reqMgr API"
https://github.com/CMSCompOps/WmAgentScripts/blob/master/recoverMissingLumis.py#L387
The API https://cmsweb.cern.ch/reqmgr/reqMgr, does not longer work to get the request's info.
Alan suggests to use something like https://github.com/amaltaro/ProductionTools/blob/master/drainAgent.py#L85

[2016-11-18 16:33] vlimant commented on #193
thanks for the fix

[2016-11-29 12:32] #193 closed

[2016-11-29 12:33] vlimant commented on #188
Sebastian gave us a new json with "Usable" and we switched to that to let TT drive the tape distribution.

[2016-11-29 12:35] sidnarayanan commented on #188
To be totally clear - the TT does not closely monitor tape distribution. We will only use this functionality to blacklist sites temporarily if there is an issue. Besides that, the distribution will be as before, unless some decision is made to disfavor certain sites despite free space.

Also, it was Jorge who added the Usable field :)

[2016-11-29 12:44] vlimant commented on #188
thx for the clarification.

[2016-11-29 12:44] #188 closed

[2016-11-29 12:47] vlimant commented on #183
what is the url we can use in production ?

[2016-11-29 12:48] vlimant commented on #190
default to submitting to reqmgr2 was added in the master.

[2016-11-29 12:48] #190 closed

[2016-12-12 15:21] vlimant commented on #183
@sidnarayanan @sebastianpulido what is the production url ?

[2016-12-13 20:41] vlimant opened #196 "swtich recoveror to the actual ACDC documents"
It is using the workflow summary which is incomplete and will probably disappear.
Maybe this is bound to disappear with the new interface, or maybe not.
FYI @areinsvo

[2017-01-05 01:46] areinsvo commented on #196
Summarizing what I've discovered so far (apologies that this has taken so long).

What we need from the workflow summary is a list with the following information:
Error code, Number of jobs failing with that code, Error name, Error type, Details

I can get most of this from the getWMErrors() function in workflowInfo, except the "Number of jobs failing with that code" parameter doesn't really exist

[2017-01-05 12:43] sebastianpulido commented on #183
Hi, I'm working on enabling the production url. Let you know.

[2017-01-05 13:37] sebastianpulido commented on #183
SSO is disable, let me know if should be enable.

[2017-01-05 16:47] ticoann opened #199 "Is deprecated/resubmit_ACDC_Montecarlo.py still used"
It seems there is reqmgr1 dependency.
from WMCore.Services.RequestManager.RequestManager import RequestManager

Let me know if this is still used, I can provide replacement api.

[2017-01-05 20:48] vlimant commented on #199
resubmit_ACDC_Montecarlo.py and the deprecated dir should be just removed all together, so don't worry about breaking that dependency, as long as it is nowhere else.

[2017-01-05 22:03] ticoann commented on #199
Thanks Jean-Roch, I didn't see anywhere else in WmAgentScript

[2017-01-06 10:07] vlimant commented on #199
gone 8d8ac5fe2a81994f5f8bbbd0ed9d5ce41f49b5a4

[2017-01-06 10:07] #199 closed

[2017-01-06 10:10] vlimant commented on #189
looks fixed

[2017-01-06 10:10] #189 closed

[2017-01-06 10:13] vlimant commented on #183
now pointing to those.

[2017-01-06 10:13] #183 closed

[2017-01-06 10:16] vlimant commented on #196
There is a big lag between the two source of information, so I don't expect them to be in sync.
Maybe combine with getWMStats() and in showError.py

[2017-01-06 10:16] vlimant opened #200 "Create the error report for running problematic worklows"
We need a couple of technical details to actually move forward than just complaining.
@jenimal : what is the exact condition a workflows needs to pass to be problematic and needing a report ? (in terms of "I click there, I go there, I sort here, ... )
@ticoann : once we know that, we'll need to know how to get that from wmstats api. Maybe you actually want to implement this kind of report https://

[2017-01-06 16:07] jenimal commented on #200
OK Where I look for problematic workflows:
Go to WMStats:
https://cmsweb.cern.ch/wmstats/index.html
Click on All Requests
Click on Progress
Sort by Failure Rate
Generally I will look at the workflows with the highest failure rate, anything over 50% definitely has problems and should be looked at.  By clicking on the "L" to see what steps are failing and what the error messages are.

It is useful t

[2017-01-06 16:41] areinsvo commented on #196
For /pdmvserv_B2G-RunIISummer16MiniAODv2-00972_00211_v0__161222_122645_3950 the output of showError.py is the same as what I can get from WMError. That is, exit code 71305 still isn't mentioned.

For pdmvserv_task_EXO-RunIISummer16DR80Premix-02113__v1_T_161125_202214_5115, the first task has 6 error codes, but showError only shows 2 of them. The two it shows doesn't even correspond to the two with

[2017-01-06 16:46] vlimant commented on #196
Yes

[2017-01-06 17:38] ticoann commented on #200
Hi Jean-Roch, Jen. I created the issue related to this. (https://github.com/dmwm/WMCore/issues/7517)
About the log access here is the discussion and Alan's (@amaltaro) suggestion
https://github.com/dmwm/WMCore/issues/7224

[2017-01-09 13:50] vlimant opened #201 "makeACDC.py --memory does not set things properly for TaskChain"
@areinsvo @prozober worth taking a look at

vlimant_ACDC1_task_PPD-PhaseIIFall16GS82-00006__v1_T_170109_124909_9238 was created with --memory 7900 and it does not get set in the various tasks, so I am not sure that'll work

@amaltaro FYI, if you want to chip in

[2017-01-09 14:00] amaltaro commented on #201
I see only two processing tasks and both have memoryRequirements set to 7900. Unless I overlooked something, it looks good.

[2017-01-11 19:36] areinsvo commented on #196
The code is done (but not fully tested) and can be found at /afs/cern.ch/user/c/cmst2/Unified/WmAgentScripts/Unified/recoveror_WMError.py. What is the best way to test this? Is it safe to run it with the --test option? Although I was careful, I would be very surprised if there weren't any typos. The code is by no means elegant, but it took much longer than it should have for me to figure out the r

[2017-01-17 20:03] areinsvo commented on #196
Tried to run it with --test, but there aren't any workflows in need of recovery, so my new code isn't touched. Since the normal recoveror module that runs twice an hour moves workflows out of "recovery" to "assistance", it might be hard to find a time when there is a workflow sitting in recovery for me to test the new code on.

[2017-01-17 21:35] vlimant commented on #196
maybe you can hack it to look at workflows in -manual

[2017-02-02 02:09] areinsvo commented on #196
Sorry for the delay. I've finished testing it on workflows in assistance-manual and I've gotten rid of all of the bugs and typos. It seems to be working.

Possibly dumb question: What do we want to happen if there are unreported errors? I replicated the logic in showError.py to check if there are unreported errors, but I don't know what to do about it if that's the case.

[2017-02-02 14:29] prozober opened #203 "Modifying memory for TaskChain clones"
Related to https://its.cern.ch/jira/browse/CMSCOMPPR-429, we need to modify resubmit.py in order to able of changing the memory parameter for TaskChain clones.
We need to decide if we are going to:
- Delete the "Memory" value in the dictionary of every Task, and keep the modified Memory value in the main dictionary.
- Or we can modify the "Memory" value in the dictionary of every Task.

[2017-02-06 14:24] vlimant commented on #196
unreported errors (robust merges most of the time) are indeed tricky and indeed only using the accdc doc (as in showError) would work.

[2017-02-07 04:00] areinsvo opened #204 "Default fractionpass = 1"
We need to set the default fractionpass value to 1.0 so we don't make mistakes and forget to set it for Reco campaigns.

[2017-02-07 09:02] vlimant opened #205 "resubmit should also take the noncustodialsites into account"
or in assign. but for example https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_Run2016B-v2-ZeroBias0-17Jan2017_8020_170203_100158_7572 does not have a full copy of the output made anywhere by default
FYI @prozober

[2017-02-07 10:12] vlimant opened #206 "Incorporate information about disk endpoint that should not be considered for transfer"
using plain disk=0 is not a good idea.

[2017-02-09 16:24] areinsvo commented on #196
But the ACDC doc doesn't have error codes or error messages. I can use the ACDC doc to check if there are unreported errors, but I don't think I can use it to add in the missing error codes or messages.

[2017-02-24 15:47] areinsvo opened #208 "Change who receives Unified emails to a configuration"
Right now, the list of people who receive the warning messages from Unified is hardcoded in utils.py. This should be changed to be part of the Unified configuration.

[2017-02-24 16:09] vlimant commented on #208
3638930 makes it configurable

[2017-02-27 15:19] #208 closed

[2017-02-27 15:24] areinsvo opened #209 "skewed input from checkTransferStatus"
We've had messages like the following from stagor recently and again today.
Ending stagor because of skewed input from checkTransferStatus

According to @vlimant, this means one of the transfer checks is failing because a transfer has been made on top of an existing subscription. We need to look into checkTransferStatus to make sure things are being handled sensibly and to see why the extra transf

[2017-02-27 15:49] vlimant commented on #209
the source of the issue is when unified gets to make a transfer request for a dataset that is already in place, leaving the transfer request with no subscription and impossible to know where the transfer is at.
One solution is to have checkTransferStatus report no completion to all site and items that were requested see https://cmsweb.cern.ch/phedex/datasvc/json/prod/transferrequests?request=94741

[2017-03-01 15:23] areinsvo commented on #209
There is an error on the Unified critical page for getDatasetDestinations: "Failed the new implementation". Can you look into this?

Are errors like "Performing spurious transfer check on 954532" also related to this issue?

[2017-03-01 15:34] vlimant commented on #209
Yes, there is a new implementation of getDatasetDestinations which was still failing on subscriptions query for the premix dataset, I added something today to try and bypass this.
Then subsequently stagor/stuckor/cachor fail on checking a ghost transfer request. : stagor is not sensitive to skewed checkTransferStatus anymore.

So getDatasetDestinations should not fail anymore, and things should ge

[2017-03-02 11:32] vlimant opened #211 "Campaigns per Output"
for checkor, and addhoc way of getting the "campaign" per output (using the acqera) is done, and needs to be improved logically to match the relval case

[2017-03-03 09:38] vlimant opened #212 "Alarm on colliding output"
especially for relval, instead of v++, an alarm should be send and things rejected.

[2017-03-08 13:40] prozober opened #213 "KeyError: 'action' in assign.py"
I am trying to assign this ACDC https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_ACDC0_task_EXO-PhaseIIFall16GS82-00043__v1_T_170308_143423_2512

`python assign.py -s acdc -w prozober_ACDC0_task_EXO-PhaseIIFall16GS82-00043__v1_T_170308_143423_2512`

Then this error appears
[code]

Could you please take a look?

[2017-03-08 14:03] vlimant commented on #213
I indeed moved unified to assign using directly reqmgr2 schema, I tried to do it carefully and not impact assign.py but it seems that I failed ...
https://github.com/CMSCompOps/WmAgentScripts/commit/a8f06fcf5d8fb43aee8fabee27768c815b3d0732 should fix it

[2017-03-08 14:12] prozober commented on #213
it worked! thank you.

[2017-03-08 14:12] #213 closed

[2017-03-09 15:32] areinsvo commented on #209
The "Ending stagor because of skewed input from checkTransferStatus" message is back on the Unified critical page today for the first time since you made the changes. Can you look into why we got this message again?

[2017-03-09 16:17] vlimant commented on #209
that's because of
https://cmsweb.cern.ch/phedex/prod/Request::View?request=960454
and https://github.com/dmwm/PHEDEX/issues/1079
It will show up there until task_HCA-PhaseIFall16GS-00007 and task_BPH-PhaseIFall16GS-00020 are not acquired

[2017-03-17 12:44] vlimant opened #216 "Get rid of CouchURL"
for https://github.com/dmwm/WMCore/pull/7734

CouchURL appears in several places. Does not look too complicated to remove any usage

[2017-03-24 21:16] mcremone opened #217 "Implement check for workflows assigned > 1 day"
Have Unified automatically checking workflows stuck in assigned for larger than 1 day. A new warning message for such cases appearing on the Unified monitor page may be good.

[2017-03-27 07:55] vlimant commented on #217
https://github.com/CMSCompOps/WmAgentScripts/commit/e1b37b98050991bb5f56a5df82e278465034d0ce will be on UO critical messages. FYI @areinsvo

[2017-03-27 07:55] #217 closed

[2017-04-07 08:23] prozober opened #218 "analyzeDuplicates does not work"
The duplicateEvents' output does not longer fit with the analyzeDuplicates requirements.
analyzeDuplicates' documentation says:
[code]

Either we change the output format of duplicateEvents, or we modify the way analyzeDuplicates is reading the data.

[2017-04-26 08:36] vlimant opened #220 "Handle better statuses within a relval batches"
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_8_0_27__ALCARELVAL-2017_04_13_17_13

unified is made that things are maybe too static.
with a search by campaign (does that exists already @ticoann @amaltaro ?) one should be able to go through and decide better on when a batch/campaign can be considered done.

[2017-04-26 08:40] amaltaro commented on #220
https://cmsweb.cern.ch/reqmgr2/data/request?campaign=HIRun2015&status=announced&detail=false

[2017-05-03 13:43] vlimant commented on #220
https://github.com/CMSCompOps/WmAgentScripts/commit/16bf2d3ae3a576ae4a380fc56547a99f122dc815 should do it
FYI @areinsvo @mcremone @thongonary

[2017-05-03 13:43] #220 closed

[2017-05-04 08:30] prozober opened #222 "makeACDC missing/unsupported parameters"
After the reqmgr2 upgrade, we are facing this exception when we try to create ACDC using "makeACDC.py", e.g.:

`>> python makeACDC.py --all -w pdmvserv_task_HIG-PhaseISpring17wmLHEGS-00007__v1_T_170428_162726_9727 `

[code]

@vlimant, could you please take a look?

[2017-05-04 08:47] vlimant commented on #222
hey, indeed

vlimant@vocms049.cern.ch >./makeACDC.py --all -w pdmvserv_task_HIG-PhaseISpring17wmLHEGS-00007__v1_T_170428_162726_9727
Workflow: pdmvserv_task_HIG-PhaseISpring17wmLHEGS-00007__v1_T_170428_162726_9727
Tasks: [u'/pdmvserv_task_HIG-PhaseISpring17wmLHEGS-00007__v1_T_170428_162726_9727/HIG-PhaseISpring17wmLHEGS-00007_0/HIG-PhaseISpring17wmLHEGS-00007_0MergeLHEoutput', u'/pdmvserv_task_HIG

[2017-05-04 08:49] vlimant commented on #222
neither BlockWhitelist nor  BlockBlacklist are passed in the schema, @amaltaro is the one who can do something for this I think

[2017-05-04 09:13] amaltaro commented on #222
jeez

[2017-05-04 09:40] amaltaro commented on #222
Sorry, I should have foreseen this case. Issue created here:
https://github.com/dmwm/WMCore/issues/7835

I don't think we can create ACDCs before we update the code... no way around it

[2017-05-05 10:11] prozober commented on #222
I did a couple of tests and everything is working now. Thank you, Alan.

[2017-05-05 10:12] amaltaro commented on #222
awesome! Thanks!

[2017-05-05 12:26] #222 closed

[2017-05-05 12:28] vlimant opened #223 "Migration to the clone API"
all cloning should carefully be moved to using reqMgrClient.cloneWorkflow as #221 suggests

[2017-05-10 14:10] amaltaro opened #224 "Does CompOps use reqmgr2.py client?"
Not an issue, but a question. Is CompOps relying on this reqmgr2 client
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/reqmgr2.py
?

I'd like to make some changes to it, eventually. And I just want to make sure it's not going to break anything on your side.

[2017-05-22 11:40] vlimant opened #225 "Fail safe and make an alarm on bad json from gwmsmon"
When the retrieved information "No JSON object could be decoded", there should be an alarm for people to report and get it fixed.

[2017-05-23 16:31] thongonary opened #226 "Automatically assign pilot task"
Things with "pilot" in the name should be automatically assigned even if the campaign has go=false, as long as the configuration is entered.

[2017-05-24 12:56] thongonary opened #227 "Check unmerged file presence using xrd"
In the Unified report it would be useful to have an automatic check whether the unmerged file exists so that we can ACDC.

[2017-05-30 09:59] vlimant opened #228 "Get rid of the 4H assignment-approved grace period"
as per https://hypernews.cern.ch/HyperNews/CMS/get/dataopsrequests/19032.html assignment-approved means "go for it", therefore we should get rid of the legacy 4h grace period.

[2017-05-30 10:00] vlimant commented on #228
FYI @drkovalskyi @mcremone @thongonary

[2017-05-30 10:11] drkovalskyi commented on #228
It that's what they want I see no issue with that.

[2017-06-01 12:51] vlimant commented on #228
ebab9f1893fab11e2073aa4ac87b91b8ebdd416b will do

[2017-06-01 12:51] #228 closed

[2017-06-01 13:46] vlimant opened #229 "Migrate to dynamo registry"
from @yiiyama
We have a new dataset-locking mechanism for Dynamo. This is something we have been advertising for a long time and is finally online.

In the new scheme, you will write to our database the list of items you want to lock, instead of Dynamo reading files you produce.

In short, we'd like to ask you to create a JSON file in the format

[{"item": "dataset_or_block_name", "sites": "site_n

[2017-06-01 13:46] vlimant commented on #229
vlimant@vocms049.cern.ch >curl -k --cert $X509_USER_PROXY --key $X509_USER_PROXY 'https://t3desk007.mit.edu//registry/activitylock/lock?service=unified&app=detox'
curl: (35) error:14094418:SSL routines:SSL3_READ_BYTES:tlsv1 alert unknown ca

 if you could adapt

def lock_DDM(lock=True):
    conn  =  httplib.HTTPSConnection('t3desk007.mit.edu', cert_file = os.getenv('X509_USER_PROXY'), key_file = o

[2017-06-07 20:14] thongonary opened #230 "Check on the output size and adapt the splitting"
From this issue [Special Error for SYSTEM_PERIODIC_REMOVE](https://github.com/dmwm/WMCore/issues/7906)

Currently, when the job's output size exceeds the limit, it aborts prematurely, leaving logs with very limited information and exit code 99303.

We need to have an automatic check on the job's output size and adapt the splitting accordingly.

@vlimant

[2017-06-09 09:03] vlimant opened #232 "Close relval campaigns when announcing"
with making sure to not overwrite configuration information (migrate to some no-sql db) relval campaigns should be set go=false and removed from view

[2017-06-15 13:14] amaltaro commented on #224
ping

[2017-06-15 13:19] vlimant commented on #224
not aware of any interaction with this that I remember. Is a grep on the repo giving anything ?

[2017-06-22 20:19] yiiyama commented on #229
Actually, I forgot to ask for a crucial information - @vlimant which certificate are you using?

[2017-06-23 08:50] vlimant commented on #229
we are using personal certificate, mine and @mcremone for now

[2017-06-28 22:07] yiiyama commented on #229
I think I understand what is going on now - we have OSG-signed host certificates on our servers, and OSG CA is not in the list of default CAs in the system (/etc/pki/tls/cert.pem).

For an httplib connection object, if we add the OSG CA in /etc/grid-security directory like this:
[code]
I could get the connection to work using the python build in the wmagent software suite from vocms049 (thanks to

[2017-06-29 16:29] vlimant commented on #229
hey @yiiyama , I think you need to have a certificate that complies with the default CAs, or have it added to the defaults.  @amaltaro how do we do that ?

[2017-06-29 18:50] yiiyama commented on #229
Ideally yes, but there isn't really an issue with adding that load_verify_locations() line in the script, no?

[2017-07-02 05:20] vlimant opened #233 "Get original request requestdate for reference date in force-completion"
right now, it is taking into account how long a workflow has been running, not how long since the original request was injected and acquired ; for cloned workflows, the difference could be significant.

[2017-07-05 14:43] yiiyama commented on #229
Hi @vlimant, I found a way to enable the osg cert as default trusted:
https://www.happyassassin.net/2015/01/14/trusting-additional-cas-in-fedora-rhel-centos-dont-append-to-etcpkitlscertsca-bundle-crt-or-etcpkitlscert-pem/

As root:
[code]

[2017-07-05 15:15] areinsvo opened #234 "Add option to put workflows in trouble from closor"
It would be useful to be able to set a workflow status to "in trouble" from the closor script, instead of having to first reject it and then use sync.py to put it in trouble.

[2017-07-13 13:55] amaltaro commented on #224
Nope, I can't find reqmgr2.py being used in this repo. Thanks!

[2017-07-13 13:55] #224 closed

[2017-07-13 13:56] amaltaro commented on #167
Has this issue been fixed? I think so, since we had no more incidents like this. If so, can someone please close this issue?

[2017-07-13 13:59] amaltaro opened #235 "Are workflows asssigned with UnmergedLFNBase and MergedLFNBase"
The title says it all. Is unified **always** passing a key/value for these 2 arguments during assignment?

They currently have some default values that could be harmful (same default value as creation):
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1092

and I'd like to remove those default values from assignment, such that we **only** update that during

[2017-07-13 14:06] prozober commented on #167
The issue has been fixed. I haven't seen any new case.

[2017-07-13 14:30] vlimant commented on #235
it's always set in assignment, for ops scripts via

https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L922
https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L952

you could make the default None and fail assignment if those are not passed.

[2017-07-13 14:31] amaltaro commented on #235
Perfect, thanks!

[2017-07-13 14:31] #235 closed

[2017-07-18 16:24] vlimant commented on #230
a first step towards this https://github.com/CMSCompOps/WmAgentScripts/commit/fd3aaf437aadeaec09b857dd9ca359aadad9bdd3
with which some other splitting check were lost, but maybe not too relevant

[2017-07-18 17:04] vlimant commented on #230
further minor modifications were necessary for the connection and when things can get applied.
it's all working now.

[2017-07-18 17:04] #230 closed

[2017-07-18 17:16] #209 closed

[2017-07-18 17:16] #187 closed

[2017-08-25 21:17] vlimant commented on #229
I let @amaltaro decide on the kosher-ness of that change. I am not in favor.

[2017-08-28 20:02] vlimant opened #236 "Do not select Teams[0]"
https://github.com/CMSCompOps/WmAgentScripts/blob/9ca9034866101c5d7e7b9c82dd0192d5286ac1b0/Unified/actor.py#L465

instead please first filter non empty string, then use [0]

[2017-09-13 11:11] vlimant opened #238 "Changing Memory and Multicore at assignment"
@amaltaro @ticoann can you please shed some technical light on how to practically change the Memory-Multicore parameters in a taskchain at assignment time. Is passing a single dict (like era) sufficient ?

note for self https://github.com/CMSCompOps/WmAgentScripts/blob/afd3eb8ee566ddc4d1d7c28035ddb27c45d0ad8d/reqMgrClient.py#L778 will nee to update to properly adapt MaxRSS

[2017-09-13 11:26] amaltaro commented on #238
That's correct. Use it the same way it's used for AcquisitionEra, so a dict key'ed by the tasknames. Or just a single value if you want that setting for the whole workflow.

FYI., the MaxRSS ticket is in our radar for this month. I might change TimePerEvent as well and support override during assignment (such that it triggers the 8h jobs).

[2017-09-20 18:35] areinsvo commented on #238
Hi @vlimant has this issue been fixed yet? Right now if we try to change the memory parameter for an ACDC created by actor, the updated value doesn't get passed all the way to the task dict, and the MaxRSS and Memory for the task remain unchanged.

FYI @mcremone and @thongonary

[2017-09-28 14:55] vlimant commented on #238
@areinsvo this issue is unrelated to the issue of changing the memory parameter in making acdc.
What we want here is the ability of changing these parameters when assigning a new request, with changing the Multicore and Memory (i.e. changing a 4core into an 8core task).

[2017-09-28 14:56] vlimant commented on #238
@amaltaro upon changing Multicore, is the splitting changed accordingly, or should TimePerEvent be also changed concurrently so as to have the proper splitting of 8h ?

[2017-09-28 15:21] amaltaro commented on #238
Job splitting is only touched when the workflow is created, thus Multicore changes has no effect neither on TimePerEvent nor with the final job splitting settings.

[2017-09-28 15:23] vlimant commented on #238
https://github.com/dmwm/WMCore/issues/7767

[2017-09-28 15:47] areinsvo commented on #238
Hi @vlimant. Maybe I need to create another issue then. What I was referring to was the ability to change Memory and MaxRSS for an ACDC during assignment. Specifically, the way things were changed here, if I pass 'Memory' as a parameter during ACDC assignment, it changes things for the main dict but not in each task like we want.   https://github.com/CMSCompOps/WmAgentScripts/commit/afd3eb8ee566dd

[2017-09-28 15:56] areinsvo commented on #238
Never mind; I see now that you pointed me to a fix for handling this properly on the actor side of things. Thanks.

[2017-10-03 08:03] prozober opened #239 "Duplicate files reported in Unified"
We want to incorporate in Unified the logic we were using to report duplicated events.
https://github.com/CMSCompOps/WmAgentScripts/blob/master/dbs3Client.py#L24
The output of https://github.com/CMSCompOps/WmAgentScripts/blob/master/duplicateEvents.py was something like

_dataset: DATASET_NAME
Lumi HERE_NUM_DUPLICATED_LUMI is in these files
------FILE 1 ------
------FILE 2------
------FILE N------

[2017-10-06 11:36] vlimant commented on #234
yup https://github.com/CMSCompOps/WmAgentScripts/commit/91bef2f86e4f6d05a262deb627c7592e20010ca5

[2017-10-06 11:36] #234 closed

[2017-10-06 12:12] vlimant commented on #239
using existing code from analyzeDuplicates.py #218 unified will now provide the proper list of files to be invalidated in case of duplicates.
@yiiyama is there any hook for invalidating files alltogether ?
could unified flip the file status to invalid in dbs and one of the TT script get that file removed from TMDB ?

[2017-10-06 12:26] vlimant commented on #218
I think I fixed the output of duplicateEvents.py with https://github.com/CMSCompOps/WmAgentScripts/commit/1b793018f951272340edcaab9571bb725f6d0759
and now analyzeDuplicates.py should work again.
we can think of refacoring the code now that it's in unified (https://github.com/CMSCompOps/WmAgentScripts/commit/4b15cd3dc0585c5f2b02c49ead3a7f52d9877be9).
@areinsvo ?

[2017-10-06 12:26] #218 closed

[2017-10-06 13:53] vlimant opened #240 "recoverMissingLumis taking a long time"
as reported by @prozober this is indeed taking quite some time.
The missing lumisection analysis is quite fast. What takes some time is to load the information back to reqmgr through CouchCollection and CouchFileset
@amaltaro if you have a couple of words of suggestions on how to make it bulk update.
meanwhile I am running a more detailed timing profile

[2017-10-06 15:20] areinsvo commented on #218
@vlimant I don't know if you tagged me as an FYI or not, but let me know if there is something specific that I need to change or work on from the Unified side of things.

[2017-10-07 16:15] yiiyama commented on #239
We have an interface to a Dynamo DB now, as reported in https://its.cern.ch/jira/browse/CMSCOMPPR-1488 .
http://dynamo.mit.edu/registry/invalidation/invalidate?item=<file name>
adds a file to the list of files to be globally invalidated from TMDB and the TT can take care of it from there on.

[2017-10-08 16:22] vlimant commented on #239
are we going to have the same issue with the service certificate trying to reach that restapi ? How fast can we expect the files to be removed ?

[2017-10-08 16:27] yiiyama commented on #239
Because we had the issue with certificate, this interface is made without SSL.
Initially we would want to drive it manually (e.g. system checks the DB every minute then sends an email to a TT member) just to avoid accidents, so the reaction won't be instantaneous.

[2017-10-09 10:50] amaltaro commented on #240
I think the recoverMissingLumis takes much longer because:
1. it cares about the file name AND its location (thus it has to fetch the block name and query that block location in phedex)
2. it might have to get the parent file and location as well
3. as you said, it has to upload different couchdocs for different file+location

[2017-10-09 20:05] areinsvo opened #241 "Unified bypass policy for DQMIO-only missing lumisections"
Following the discussion from https://its.cern.ch/jira/browse/CMSCOMPPR-1456, we want to implement a new policy in Unified for ReReco workflows that are only missing DQMIO:

For SingleMuon SinglePhoton, ZeroBias, JetHT dataset it is OK to bypass if the lost lumisections per run are not less than what is allowed in Prompt Reco processing (I am not sure about the percentage, is it 2% ?)
For the othe

[2017-10-09 20:55] vlimant commented on #240
as far as I can tell, it's 3. taking much of everything

[2017-10-09 21:21] vlimant commented on #241
Doing  "by primary dataset" will require some changes in checkor. Everything is doable.
The "per run" available statistics is already implemented (by expensive) and can be applied selectively.
What needs to be adjusted is the "fraction_pass" dictionary in checkor and how we pass/get the information from the campaignInfo.

I'll make another comment on JIRA for Francesco.

[2017-10-10 09:56] vlimant commented on #241
https://github.com/CMSCompOps/WmAgentScripts/commit/e96ebc61cb09f6ef4ea893ab08f2cbdee3230e7c
it's done. easier than I thought it would be

[2017-10-10 09:56] #241 closed

[2017-10-10 09:58] vlimant commented on #239
all in https://github.com/CMSCompOps/WmAgentScripts/commit/7e130d2b30d2a49463e6b20a0f1d07fc7e9f0a1c
we'll need to change to https when the api gets secured

[2017-10-10 09:58] #239 closed

[2017-10-11 11:58] vlimant commented on #240
until we get a bulk update for the fileSet, I have added multithreading in 2 places
https://github.com/CMSCompOps/WmAgentScripts/commit/2ef1030fd76ef237ad68bf514caed489d3d84fb2
@amaltaro if you want to take a look

[2017-10-11 11:58] #240 closed

[2017-10-20 19:54] vlimant opened #243 "Stuck DQM dataset list"
make a list of the dqm dataset that are awaited for harvesting for TT to consume

[2017-10-27 10:44] vlimant opened #244 "force-complete when over the expected statistics"
when the filter efficiency is wrong, and the event count runs away, the workflow should get automatically force-completed and bypassed, with possibly a communication/note to the request

[2017-10-30 09:38] amaltaro opened #245 "Resubmission/ACDC parameters supported during request creation"
Besides the fewer supported arguments:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/Resubmission.py#L57

one can also update RequestPriority, Memory and TimePerEvent. Nothing else. See the (taskchain) constraints here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/Resubmission.py#L42

We might add Multicore to the list of supported arg

[2017-10-30 09:44] amaltaro opened #246 "Use clone API instead of retrieving/building/posting new clone request"
As discussed and added initial code in this PR:
https://github.com/CMSCompOps/WmAgentScripts/pull/221/files#diff-3fc98fbeeaadf6df0cfbc50d59551ffeR1120

Unified should just use this API for creating clone workflows. It also automatically bumps the ProcessingVersion.

[2017-10-31 21:48] vlimant opened #247 "make an alert when in need for a new agent to start"
when getting a few values from the agents it should be possible to alert that we are running the agents too high.

FYI @scarletnorberg

[2017-11-01 13:56] amaltaro opened #248 "Update MaxRSS/MaxVSize units from KB to MB"
Since CMSWEB HG1710, we have these changes in production:
https://github.com/dmwm/WMCore/pull/8204

Thus, can we update the value set during assignment from KB to MB (e.g., if you were setting MaxRSS=2097152 for a 2GB RSS, you should now set MaxRSS=2048).

Another option is to completely remove MaxRSS/MaxVSize from assignment, but for that we need to make sure that there are no workflows older tha

[2017-11-01 14:06] vlimant commented on #248
@amaltaro I'll wait for you go to get rid of

https://github.com/CMSCompOps/WmAgentScripts/blob/727b3fda67f164485a70f68d8a28641cc9f20674/reqMgrClient.py#L781 ++
and
https://github.com/CMSCompOps/WmAgentScripts/blob/727b3fda67f164485a70f68d8a28641cc9f20674/reqMgrClient.py#L951
https://github.com/CMSCompOps/WmAgentScripts/blob/727b3fda67f164485a70f68d8a28641cc9f20674/reqMgrClient.py#L952

[2017-11-03 13:51] amaltaro commented on #248
We still can't remove those because, besides a few requests in new state (which will probably never move forward nor get rejected), there are two workflows that were created before HG1710 upgrade:
pdmvserv_task_BTV-RunIISummer17DRStdmix-00010__v1_T_171003_170442_9186
pdmvserv_task_BTV-RunIISummer17DRStdmix-00009__v1_T_171003_170427_1289

[2017-11-20 15:00] thongonary opened #250 "Summary for Unified"
It would be nice if we can have a summary section on Unified page, which include basic information to be reported on the CompOps meeting. For example:

These numbers are easier to grab by a python script than a human, and would save L3s quite a lot of time to focus on real issues on the report.

[2017-12-03 09:18] vlimant opened #251 "make the pass thresholds cumulative"
to be fully consistent between submitting a taskchain and each step separately, and as suggested to me recently the pass threshold could be with respect to the previous task, rather than to the full request.
Example

pdmvserv_task_HIG-PhaseIITDRFall17wmLHEGS-00053__v1_T_171103_203755_5354 is not completed
{
"/ZJetsToNuNu_HT-1200To2500_14TeV-madgraph/PhaseIITDRFall17DR-noPU_93X_upgrade2023_realisti

[2017-12-03 19:28] thongonary commented on #251
I think it's pretty obviously the right thing to do, unless someone has the other reason, I'm 100% supporting this.

[2017-12-03 19:41] thongonary commented on #251
I think it's pretty obviously the right thing to do, unless someone has the other reason, I'm 100% supporting this.
One question though, under which mechanism Unified can decide 62% completion of GENSIM is done due to unrecoverable failures? Or are you just referring to the situation when GENSIM is force-completed by Ops and then the subsequent dataset's threshold should be adjusted accordingly by

[2017-12-05 19:51] vlimant commented on #251
62% complete for GEN-SIM is not going to be considered good, if the gen-sim threshold is still 95%.
but if we set the threshold of gen-sim to 50% (because of wmlhe issues), then that workflow above would get announced since the rest of the datasets are above the conditional completion fraction.

[2017-12-06 11:52] drkovalskyi commented on #251
While it's logical that completion of following steps should be considered with respect to previous steps, a decision to move on with 58% of GenSim can only be triggered by a human. As is I don't see much value in implementing cumulative thresholds, since if campaign is dominated by GenSim+DigiReco requests cumulative threshold is equivalent to a simple change of the overall threshold from 95% to

[2017-12-08 22:55] vlimant commented on #251
there is one adversarial effect at the moment that having cumulative threshold will solve naturally is if the DR campaign is set to 90% and the miniaod is set to 95%, samples won't pass if send in chains, while it would if submitted separately.
deciding to have gensim pass at 10% could be made automatic if we want to get rid of the large amount of crap with madgraph remaining in old campaigns.
if

[2017-12-09 20:30] vlimant opened #252 "fix the check on secondary timeout"
the workflows in normal-archived cannot be queried ( https://github.com/dmwm/WMCore/issues/8384 ) with

https://cmsweb.cern.ch/reqmgr2/data/request?mask=RequestDate&mask=MCPileup&status=normal-archived nor https://cmsweb.cern.ch/reqmgr2/data/request?mask=RequestDate&mask=MCPileup&status=normal-archived&detail=false

so something needs to be done to have information about what secondary were used i

[2017-12-15 12:39] vlimant opened #253 "core option in actor"
@areinsvo making a GH so that we keep track of this.
looks like the "cores" option is not wired in actor.

can you please remind me why you copied the singleRecovery function from recoveror.py instead of importing it ?
please take a look there and try to import it, the core (NOTE core vs coreS) option is added already so that resubmit.py works
FYI @prozober

[2017-12-15 12:42] prozober commented on #253
https://github.com/CMSCompOps/WorkflowWebTools/issues/79

[2017-12-15 23:00] areinsvo commented on #253
It was easier to copy singleRecovery, rather than import it, because of differences in the input. I wanted to have control over how things were being implemented.
For example, in actor.py memory is given in the json as 'memory': '20000' to set the memory to 20000,  whereas for recoveror.py it would be 'mem-+1000' to increase the  memory by 1000. It was non-trivial to a) understand the recoveror fo

[2018-01-04 18:33] prozober commented on #253
Hi @areinsvo, do you think we are close to using this option from the recovery tool?
@dabercro, I think we need to have something like https://github.com/CMSCompOps/WorkflowWebTools/issues/87#issuecomment-355056628 for this parameter and display the multicore value close to the textbox. It'd help me a lot!

[2018-01-04 20:19] areinsvo commented on #253
@prozober I'll probably be ready to test the multicore functionality tomorrow.

[2018-01-17 13:02] vlimant commented on #251
The code is ready for this. With an example like

For /DY3JetsToLL_M-50_TuneCP5_13TeV-madgraphMLM-pythia8/RunIIFall17wmLHEGS-93X_mc2017_realistic_v3-v2/LHE passing at 0.95 is now passing at 0.95
For /DY3JetsToLL_M-50_TuneCP5_13TeV-madgraphMLM-pythia8/RunIIFall17DRPremix-94X_mc2017_realistic_v10-v2/AODSIM passing at 0.95 is now passing at 0.9025
For /DY3JetsToLL_M-50_TuneCP5_13TeV-madgraphMLM-pythi

[2018-01-24 10:36] amaltaro opened #254 "Update all request.schema usage to getWorkflowInfo function"
Hi,

given that we decided to finally deprecate the request.schema section, see
https://github.com/dmwm/WMCore/pull/8383
can someone please update the scripts somehow using this `request.schema` section to instead fetch the request json provided by this function:
https://github.com/amaltaro/WmAgentScripts/blob/master/reqMgrClient.py#L450

and then just use that dictionary?

I found a few places wh

[2018-01-24 10:36] amaltaro commented on #254
BTW, those changes are going to production in Feb 6th.

[2018-01-25 15:49] amaltaro commented on #254
@thongonary @mcremone

[2018-01-30 14:27] amaltaro commented on #254
ping

[2018-01-30 16:26] vlimant commented on #254
what's the grep to find place that uses the deprecated schema ?

[2018-01-30 16:29] amaltaro commented on #254
I looked through the GH search box. But I grep would be like
[code]

[2018-01-30 16:39] vlimant commented on #254
none of these are used (and yes things could be cleaned up).
I think we can git rm mc, git rm RelVal

[2018-01-30 22:03] amaltaro commented on #254
Cool, so we don't need to worry with Ops scripts.

[2018-02-06 12:19] vlimant commented on #251
https://github.com/CMSCompOps/WmAgentScripts/commit/1dde57d2445bf0e5ff67bbbfec79c31ca147a95d makes it configurable with cumulative_fraction_pass

[2018-02-06 15:35] amaltaro opened #256 "Replace max_events_per_lumi by job_time_limit"
Starting today - with the CMSWEB production upgrade - any new requests (not ACDCs of old requests) will have a new job splitting parameter called `job_time_limit` (if it is using EventAwareLumiBased), which replaces the `max_events_per_lumi`.

Instead of failing jobs based on the amount of events within a single lumi file (20k events was the default), EventAwareLumiBased will start using the estim

[2018-02-06 15:37] amaltaro commented on #256
FYI @ticoann

[2018-02-06 15:58] prozober commented on #256
@vlimant @areinsvo, do we need to change something in the [actor](https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py)'s side?

[2018-02-06 16:20] vlimant commented on #256
There was no hook to change max_events_per_lumi, so nothing to be adapted.
Only when creating an ACDC will it change something. It does not look like actor.py is modifying this anyways.

[2018-02-06 16:20] #256 closed

[2018-02-06 16:20] #254 closed

[2018-02-06 16:22] vlimant commented on #248
is this something we can move on with ?

[2018-02-06 16:22] vlimant commented on #247
it's all in and the agent will be started automatically.

[2018-02-06 16:22] #247 closed

[2018-02-06 16:24] vlimant commented on #244
this was implemented indeed. https://github.com/CMSCompOps/WmAgentScripts/commit/1cc6d25d7d96b78667fdfe1c280c2379462685f4

[2018-02-06 16:24] #244 closed

[2018-02-06 16:27] vlimant commented on #233
not enough self-information :-(

[2018-02-06 16:27] #233 closed

[2018-02-06 16:27] vlimant commented on #232
yup. relval campaigns are removed from configuration.

[2018-02-06 16:27] #232 closed

[2018-02-06 16:28] #206 closed

[2018-02-06 16:28] vlimant commented on #223
#246

[2018-02-06 16:28] #223 closed

[2018-02-06 16:31] vlimant commented on #216
@amaltaro this was not done on ops end, but nothing break. Should it ?

[2018-02-06 16:32] vlimant commented on #211
yup. done.

[2018-02-06 16:32] #211 closed

[2018-02-06 16:33] vlimant commented on #196
recoveror was decommissioned.

[2018-02-06 16:33] #196 closed

[2018-02-06 16:34] vlimant commented on #181
does not look vital

[2018-02-06 16:34] #181 closed

[2018-02-06 16:35] vlimant commented on #200
https://vocms049.cern.ch/unified/toperror.html to be refined

[2018-02-06 16:35] #200 closed

[2018-02-06 16:36] vlimant commented on #203
I think this is OK now through actor.py

[2018-02-06 16:36] #203 closed

[2018-02-06 16:46] vlimant commented on #227
@yiiyama I think you send me a command to check the existence of a file "anywhere".
could you please copy it here.

[2018-02-06 16:53] vlimant commented on #226
https://github.com/CMSCompOps/WmAgentScripts/commit/85b04c8f326a42c49c3d024c704be520aebc895c

[2018-02-06 16:53] #226 closed

[2018-02-06 16:54] vlimant commented on #229
@yiiyama not sure where do we stand there. I have the feeling we change the way to do this.

[2018-02-06 16:54] #229 closed

[2018-02-06 16:55] yiiyama commented on #227
Would `xrdfs root://cms-xrd-global.cern.ch ls /store/unmerged/...` work?

[2018-02-06 16:57] vlimant opened #257 "migrate how to hand over output dataset to anaops"
@yiiyama I think we discuss that we should replace the legacy script assignDatasetToSite.py for a call to a registry of some kind.
Please use this to provide the relevant information to have this happen.

[2018-02-06 16:57] vlimant commented on #227
does this hang forever when the file is actually not available anywhere anymore ?

[2018-02-06 16:58] vlimant commented on #204
long done

[2018-02-06 16:58] #204 closed

[2018-02-06 16:59] #132 closed

[2018-02-06 16:59] vlimant commented on #141
long done

[2018-02-06 16:59] #141 closed

[2018-02-06 16:59] #165 closed

[2018-02-06 17:00] vlimant commented on #166
moved to actor.py

[2018-02-06 17:00] #166 closed

[2018-02-06 17:00] #167 closed

[2018-02-06 17:00] vlimant commented on #168
I think this was done indeed

[2018-02-06 17:00] #168 closed

[2018-02-06 17:01] vlimant commented on #171
not relevant anymore

[2018-02-06 17:01] #171 closed

[2018-02-06 17:01] vlimant commented on #184
maybe another time

[2018-02-06 17:01] #184 closed

[2018-02-06 17:02] vlimant commented on #175
yes, I think we are done here.

[2018-02-06 17:02] #175 closed

[2018-02-06 17:03] vlimant commented on #205
I think this is solved for clones

[2018-02-06 17:03] #205 closed

[2018-02-06 17:03] vlimant commented on #212
yes and no.

[2018-02-06 17:03] #212 closed

[2018-02-06 17:04] vlimant commented on #225
fail safe : yes.
alarm, not so much yet

[2018-02-06 17:04] #225 closed

[2018-02-06 17:05] vlimant commented on #236
@areinsvo there was a glitch with this at some point.
does not seem relevant anymore.

[2018-02-06 17:05] #236 closed

[2018-02-06 17:07] #238 closed

[2018-02-06 17:36] yiiyama commented on #227
Indeed `ls` seems to hang.. On the other hand `xrdfs root://cms-xrd-global.cern.ch stat /store/unmerged/...` came back in finite time with a message `[ERROR] Server responded with an error: [3011] No servers are available to read the file.`

[2018-02-06 17:39] vlimant commented on #250
https://vocms049.cern.ch/unified/summary_2018_06.json
with https://github.com/CMSCompOps/WmAgentScripts/commit/8c97e0f063e351827f59fa3c3015f05a4916ead2
enjoy !

[2018-02-06 18:55] amaltaro commented on #256
Ok, thanks!

[2018-02-07 13:27] amaltaro commented on #216
Nope, we call it an internal ReqMgr parameter (because it's automatically set) but it won't hurt if the user *correctly* provides it. https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1051

[2018-02-07 13:48] amaltaro commented on #248
We can go ahead with this change, there doesn't seem to be any old requests waiting to be assigned.
You can either update the unit or completely remove it, since it follows the Memory requirements setting.

[2018-02-08 22:21] mcremone commented on #250
Can waiting for tape approval for >7days and stuck tape copies be added?

[2018-02-08 22:25] mcremone commented on #250
Also, we would need a copy of the file in the public area ("https://vocms049.cern.ch/unified/public"), with a fixed name in .txt format ("summary.txt"), in sync with the original file. I have already modified the running version of htmlor.py and verified that this is the right way to go to automatically update the twiki for the Monday report:

https://twiki.cern.ch/twiki/bin/view/CMS/CompOpsMeetin

[2018-02-09 08:09] vlimant opened #258 "check for input dataset existence in phedex"
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_B2G-RunIISummer16DR80Premix-02284 is going in limbo because /ZprimeToTprimeT_TprimeToHT_Zp2000Nar_Tp1300Nar_LH_TuneCUETP8M2T4_13TeV-madgraph-pythia8_V2/RunIISummer15wmLHEGS-MCRUN2_71_V1-v1/GEN-SIM has been wiped out
a check and alarm should be put at some level
FYI @areinsvo

[2018-02-10 01:09] #250 closed

[2018-02-21 22:45] vlimant opened #260 "Fix lumilist on MC"
https://github.com/CMSCompOps/WmAgentScripts/commit/17affb588592dd7210216ebecd7284e608c916e5

the dbs api does not support the call with run=1

[2018-02-23 06:16] amaltaro commented on #248
Can someone please confirm whether unified and any other Ops scripts are now using MB instead of KB for MaxRSS and MaxVSize? If so, since when? We'd like to remove some backwards code and we're also considering completely removing these 2 metrics, simply use what was asked in the Memory parameter.

[2018-02-23 06:34] vlimant commented on #248
hey man, I don't think the move was made yet, sorry about that. remind me next week

[2018-02-23 08:17] amaltaro commented on #248
Since it looks like a simple change, I made those myself. Please have a look at #261 and merge it if it's Ok. (there are a few other places with maxrss code, under mc/ and relval/ in general)

[2018-02-23 16:25] ticoann commented on #248
@vlimant,
Discussed with Alan - If MaxRSS is set to the same value as Memory always. We can get rid of setting MaxRSS explicitly (only Memory).  WMAgent cant set it as the same value automatically (It currently does if MaxRSS is not defined)

[2018-02-26 10:46] vlimant commented on #258
done with e4944e752a2294ecb09a5b972d3b81c9bace96b4
@areinsvo  there will be a new critical message from injector to notify in-existence in phedex (not a single file for the dataset)

[2018-02-26 10:46] #258 closed

[2018-02-26 10:49] vlimant commented on #248
should we get rid of setting MaxRSS all together right away in this PR then ?
if so @amaltaro please update or let me know

[2018-02-26 10:54] amaltaro commented on #248
It seems we already update MaxRSS every time we update the memory requirements, so it _should_ be fine.
Nonetheless, let me make sure this is the case before we completely remove it from Unified.

[2018-02-26 11:10] vlimant opened #262 "Migrate locking on dynamo's cycle"
a poor man's lock file over the web is used. @yiiyama suggested

"""
he documentation is here:
http://dynamo.mit.edu/registry/applock/help
but the usage is simple:
http://dynamo.mit.edu/registry/applock/lock?app=detox&service=unified
will return a JSON that either says {"result": "OK"} or {"result": "WAIT"}. If the result is OK, the deletion cycle is not running on our side, so you are good to go.

[2018-02-26 11:13] vlimant commented on #262
@yiiyama does this work with counting the calls ? i.e two calls to http://dynamo.mit.edu/registry/applock/lock?app=detox&service=unified and one call to http://dynamo.mit.edu/registry/applock/unlock?app=detox&service=unified will leave dynamo locked by unified ?
if not it has to be done this way before we move to this.

[2018-02-26 14:28] yiiyama commented on #262
@vlimant At the moment no, multiple lock calls will not increase the counter. I will make the change and let you know.

[2018-02-27 08:08] vlimant commented on #262
thanks @yiiyama , please update me here, or reference this issue

[2018-02-27 08:13] vlimant opened #264 "Forward locking on secondary"
as mentioned to @thongonary there is an issue when producing MB or premix samples that will be used later as secondary and therefore should stay locked.
The locking of all secondary for all-go campaigns (https://github.com/CMSCompOps/WmAgentScripts/commit/c32ea8270ae17ddfbc7fc36a0ef1ea981a19d46f) is not sufficient since the future campaign is either not configured yet, or still in "pilot mode" (i.

[2018-02-27 22:51] amaltaro commented on #248
We decided to drop those two parameters completely (MaxRSS and MaxVSize). That means they will no longer be supported during assignment (or creation) after the next Tuesday, when cmsweb production deployment will happen.

[2018-02-28 14:52] vlimant opened #265 "actor is not rejecting ACDC properly"
I was looking at https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2-0008 and https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L431 it does not look like actor is rejecting the existing ACDC properly.
can you please clarify @areinsvo ?

[2018-02-28 15:09] prozober commented on #265
`Looking at prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199 for recovery options
Going to clone  prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199
Let's try kill and clone:
Going to clone prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199
invalidating the workflow by traffic controller
setting dataset sta

[2018-02-28 15:09] prozober commented on #265
Looking at prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199 for recovery options
Going to clone  prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199
Let's try kill and clone:
Going to clone prebello_Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2_944_180207_204244_8199
invalidating the workflow by traffic controller
setting dataset stat

[2018-02-28 19:47] areinsvo commented on #265
I'm confused. Jean-Roch, why did you say the issue is with rejecting the ACDCs?
Looking at the logs, actor first claimed that it couldn't create the clone, but then succeeded three minutes later. The clone appears to be running fine now, with all of the other workflows rejected.
https://dabercro.web.cern.ch/dabercro/unified/showlog/?search=ReReco-Run2016H-03Feb2017_ver2-v1-NoBPTX-05Feb2018_ver2-00

[2018-02-28 21:38] vlimant commented on #265
The code of actor does not seem to be taking care of the rejection of the children, not explicitly; seems to be relying on the web tool’s input.
The acdc got rejected by Paola when manually making a clone.

[2018-03-01 01:54] areinsvo commented on #265
Looking at the notes from our recovery tools meeting, I believe this is precisely how we decided to handle things: https://docs.google.com/document/d/1VjcV39Ow9-5ucn50-PD9SciiPKsmi_K8Rj2NLOnBBx0/

@dabercro or @prozober feel free to correct me if I'm wrong.

[2018-03-02 09:07] vlimant opened #266 "actor is not explicitly locking the outputs of the clones"
just noticed that actor when making a clone and assigning it, does not protect the output with a lock.
this is done down the line by another module that tries to protect widely.
this might have to be fixed, using lockInfo, the same way as in assignor

[2018-03-02 09:08] vlimant commented on #266
@areinsvo we can talk about this if you have some time to do it

[2018-03-06 16:18] vlimant commented on #248
all dropped with https://github.com/CMSCompOps/WmAgentScripts/commit/5f453a860521c68c85a436141d44ae7959d62128

[2018-03-06 16:18] #248 closed

[2018-03-12 11:45] prozober opened #267 "Unique Team value"
Now the requestInfo returns a unique Team value, therefore the **['Teams'][0]** must be changed for **['Team']**
For example:
https://github.com/CMSCompOps/WmAgentScripts/blob/d226c3b13ea35437640bdbe395394622115ebf11/recoverMissingLumis.py#L734
https://github.com/CMSCompOps/WmAgentScripts/blob/bf0596e65a1268ac0798017aebd8c2324c391e99/Unified/recoveror.py#L442

[2018-03-13 10:57] vlimant commented on #267
https://github.com/CMSCompOps/WmAgentScripts/commit/a4c105cce01fd76ae9850de68fd680d59984f705

[2018-03-13 10:57] #267 closed

[2018-03-13 10:59] vlimant commented on #265
there must have been a confusion then. I don't see a use case to clone a wf and leave the acdc not rejected. please adjust actor @areinsvo

[2018-03-13 11:00] #251 closed

[2018-03-13 11:01] vlimant commented on #257
looks like we are close to a new api @yiiyama, right ?

[2018-03-13 11:04] vlimant commented on #257
it would right about a good time because https://github.com/CMSCompOps/WmAgentScripts/blob/master/assignDatasetToSite.py (copied from detox) is failing for mysterious reasons

[2018-03-13 11:05] vlimant commented on #257
http://t3serv001.mit.edu/~cmsprod/IntelROCCS/Detox/result/T2_CH_CERN/Summary.txt is not there anymore, even though the script is looking for it

[2018-03-13 11:18] vlimant opened #268 "onhold/bypass from the wtc-console"
@dabercro I think we could add the onhold and bypass option so that the wtc @prozober can set it via the tool.
@areinsvo once this is done, I'll hook something up in actor

[2018-03-13 12:27] dabercro commented on #268
To both ACDC and Clone? These are just True/False values, right?

[2018-03-13 12:28] dabercro commented on #268
Or do you mean that these are special separate actions?

[2018-03-13 12:30] dabercro commented on #268
Under "Special" actions, we already should have "by-pass" (which I can rename to "bypass" for consistent naming). Do you just want me to add "onhold" there?

[2018-03-13 12:36] vlimant commented on #268
by-pass of bypass, does not matter to me ;-)
please add on-hold indeed. once there and available, please let us know.
@prozober please make a jira for the next wf that you set bypass or on-hold with the console and I'll take a look at wiring this in actor.

[2018-03-13 12:39] areinsvo commented on #265
I agree. As the notes I posted say,  "If we reject and clone the original request, all the ACDCs must be rejected." I think you're taking issue with how we get the list of ACDCs to reject. Right now, actor rejects all ACDCs that are in the list @dabercro includes in the clone action. Do you have a better proposal for how to get the names of the ACDCs to reject?

[2018-03-13 12:46] prozober commented on #268
We should only use those actions on the original request, right @vlimant? Or will the actor handle a bypassed or on-hold ACDC?

[2018-03-13 13:05] vlimant commented on #268
they will apply only to the original request indeed, acdcs are slaved under the hood.

[2018-03-13 13:07] vlimant commented on #265
we can find the familly of acdc to be rejected on unified's side. i.e. there is no need to get the list from the wtc-console. Maybe a minute modification that can simplify things.

[2018-03-13 14:55] dabercro commented on #268
Okay, I added that action. @prozober I think I found the bug that was causing the globalerrors page to not update too.

[2018-03-13 19:29] yiiyama commented on #257
Indeed we have just commissioned a new request API with CRAB folks, so we should roll it out with Unified.
But for the time being we should also fix this failing script, and the reason for failure is that I moved the Summary.txt file away yesterday in an attempt to clean up items from old days. I was not aware that the script is looking for this file. Sorry. I moved it back now.

[2018-03-13 21:03] vlimant opened #269 "JIRA integration"
found this
https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/

indicating this to discover the schema
https://its.cern.ch/jira/rest/api/2/issue/createmeta?projectKeys=CMSCOMPPR&issuetypeNames=Task&expand=projects.issuetypes.fields

and is a good pointer to creating jira automatically, with priority and all.
The wtc-console/actor could deserve the same integration to updat

[2018-03-14 17:21] prozober commented on #227
Hi, I am using something like

`result=os.system(''gfal-ls "'+PFN)  `

on lxplus to check if files are in place.
if result ==0 the file is gone, a try-except must be included.

[2018-03-14 22:49] yiiyama commented on #262
@vlimant the applock now has lock count information, so it will be unlocked only by calling "unlock" as many times as "lock" was called. There is no change to the interface. Please let me know if it works for you.

[2018-03-15 02:56] yiiyama commented on #257
OK we have the request API ready for use.
Documentation is here: http://dynamo.mit.edu/registry/request/help
Basic usage is to specify the item and sites as
`https://dynamo.mit.edu/registry/request/copy?item=/A/B/C&site=T2_*,T1_*_Disk&n=2`
in this case, two (n=2) copies of dataset /A/B/C is requested in the pool of T2_* and T1_*_Disk.
The same request can be made by posting a JSON to `https://dyna

[2018-03-15 07:10] vlimant commented on #257
@yiiyama the hand over is done with no site specification, with ddm deciding where it should be send.
so we need an api where if the site is not specified, dynamo decides where it should go.
does the api work with blocks, list of blocks, mixed list of block and dataset ?

[2018-03-15 09:12] prozober commented on #268
Guys, I've just sent a bypass action. @vlimant
`{"pdmvserv_task_HIG-RunIIFall17wmLHEGS-00961__v1_T_180220_201255_3132": {"Action": "special", "Reasons": ["Config issues"], "ACDCs": ["vlimant_ACDC0_task_HIG-RunIIFall17wmLHEGS-00961__v1_T_180312_134059_3877"], "user": "prozober", "Parameters": {"action": "by-pass", "other": ""}}}`

[2018-03-15 13:03] vlimant commented on #268
https://github.com/CMSCompOps/WmAgentScripts/commit/41d8a1c16f2b796a0b8ff43212f2c4a24e82148f

it goes in my bapss list, until better days with mongodb.

[2018-03-15 13:04] vlimant commented on #268
@dabercro I think there is no reason to call is "special", I'd vote to flag it "action" : "bypass" ; is there an issue with that ? let me know once this is changed so that I adapt on the receiving end

[2018-03-15 13:24] dabercro commented on #268
I can call "special" "other" instead, if you'd prefer. Are there other parameters that should be set with "by-pass"? If not, I'm not sure it's useful to clutter up the webpage with simple actions like that. To just change the way the action is presented for "other" while keeping the page clean, I would have to sit down and rewrite some stuff.

[2018-03-15 13:57] yiiyama commented on #257
@vlimant `"site": ["T2_*", "T1_*_Disk"]` above was to be taken literally - that is the site specification saying "somewhere on T2 or a T1 disk". Dynamo will then decide the destination from the list of candidate sites it has.
And yes, it works with any combination of blocks and datasets in one request.

[2018-03-15 14:01] vlimant commented on #257
can I put site = "*" and not have to worry about it anymore ?

[2018-03-15 14:03] yiiyama commented on #257
yes that works too - I guess we won't include tape nodes and T3 in our target site list.

[2018-03-15 14:14] vlimant commented on #257
I am getting user not authorized

[2018-03-15 14:41] vlimant commented on #257
https://github.com/CMSCompOps/WmAgentScripts/commit/b278b1010ad022ed4118a24209db3b25f23eda01

switched over. we'll see how this goes.

[2018-03-15 14:41] #257 closed

[2018-03-15 14:45] vlimant commented on #268
ok, @prozober and @dabercro have a better feeling for the web interface. special is fine.

[2018-03-15 14:57] #268 closed

[2018-03-15 14:58] vlimant commented on #268
https://github.com/CMSCompOps/WmAgentScripts/commit/41d8a1c16f2b796a0b8ff43212f2c4a24e82148f

[2018-03-24 14:11] areinsvo opened #270 "SiteWhiteList for cc7 compatible sites"
I checked, and this doesn't seem to be in Unified yet. Unified needs to be able to read from gwmsmon and prepare site whitelists accordingly for workflows that need to run on cc7 resources.

[2018-04-03 07:54] vlimant commented on #270
https://github.com/CMSCompOps/WmAgentScripts/commit/b24999317c03a00c015decc17a0f20e7e0f0ae64 should do it.
NB for relval the "cc7" in the string is still needs to be done

[2018-04-03 07:54] #270 closed

[2018-04-03 15:47] vlimant commented on #227
gfal-ls is not available on the nodes, once its installed I'll add it and check on performance.

[2018-04-03 15:50] vlimant commented on #227
@prozober that works only for eos, or anysite, anywhere ?

[2018-04-03 16:13] vlimant commented on #227
xrdfs added

[2018-04-03 16:13] #227 closed

[2018-04-04 19:42] areinsvo opened #271 "Check for parent location"
For situations like https://its.cern.ch/jira/browse/CMSCOMPPR-2565 that require an input and its parent dataset, there should be a check in place for the parent dataset's location.

[2018-04-09 11:41] vlimant opened #272 "Create JIRA when action is enacted"
with help from
https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/#creating-an-issue-examples
we should be able to create JIRA with all relevant fields upon actor taking an action.
I don't think the "reason" is passed on to actor @dabercro , we would need this so as to fill the description of the ticket.

[2018-04-10 13:07] prozober opened #273 "Reverting on-hold action"
If an "on-hold" action is taken over a workflow, we need to be able of put it back to "manual-assistance", in order to take another action. @dabercro @areinsvo @vlimant

[2018-04-10 15:17] dabercro commented on #272
The reason is available. For example, you can look here and search for "Reading issues": https://vocms0113.cern.ch:80/getaction?days=100&acted=1

[2018-04-12 10:42] vlimant commented on #273
please don't use the functionality from the wtc-console until we solve this

[2018-04-12 10:53] vlimant commented on #272
alright, then we should be able to create the JIRA automatically from actor (or vice versa...)
maybe a brainstorming is needed to decide how to take this to the next level @prozober @thongonary @mcremone

[2018-04-16 13:46] amaltaro opened #274 "EventsPerJob value in the workload dictionary"
[not really a WmAgentScripts issue, but WMCore instead]
Folks, in addition to a hot fix applied on the production reqmgr2 last Friday, I found another minor bug introduced in the last upgrade. It affects **TaskChain** requests only and the problem is that it calculates `EventsPerJob` for all steps and then it updates the `['Task1']['EventsPerJob']` with the latest task's value (job splitting is st

[2018-04-17 08:30] vlimant opened #275 "transferor stuck"
the module is out there, in infinite loop of

Would make 2  from cpu requirement 21.3888888889
Maxed to 1 by campaign configuration RunIIFall17MiniAODv2
1 blocks
        waiting a bit for retry
No JSON object could be decoded
        waiting a bit for retry
label empty or too long
        waiting a bit for retry
...
label empty or too long
        waiting a bit for retry
label empty or too long

[2018-04-20 13:09] prozober opened #276 "ACDC's sites not found"
The issue is related to the new "T1_UK_RAL_ECHO_Disk" location.
I'm ACDCing https://cmsweb.cern.ch/reqmgr2/fetch?rid=vlimant_ACDC1_task_BTV-RunIISpring18wmLHEGS-00009__v1_T_180410_174118_280, which data is in T1_UK_RAL_ECHO_Disk

When I try

I got

Could you please take a look at https://github.com/CMSCompOps/WmAgentScripts/blob/master/assign.py#L351 ?

[2018-04-23 08:07] vlimant commented on #276
https://github.com/CMSCompOps/WmAgentScripts/commit/74745ffda0e815f2c16d1ba435e63c6622d1b282
and the acdc is assigned already

[2018-04-23 08:07] #276 closed

[2018-05-03 15:08] prozober commented on #265
@areinsvo, Jean-Roch found the issue. Do you think we can make that modification easily?

[2018-05-03 18:34] areinsvo commented on #265
Yes, it looks simple enough to do. I'll implement it today and hopefully you can test it tomorrow. Sorry for missing this before; it got lost in the storm of finishing my dissertation.

[2018-05-04 03:03] areinsvo commented on #265
Jean-Roch was right; the changes were easy to make. @prozober, please let me know when you have a workflow to clone that we can use to test this feature.
https://github.com/CMSCompOps/WmAgentScripts/commit/53665e238b0dd42b914dac73778761ce4402d9c6#diff-699b8f6dbca6e1b3cf8365e884aaaf0e

[2018-05-04 03:04] areinsvo commented on #265
@dabercro, assuming this change is successful, then there is no need for the workflow tool to pass the "ACDCs" list anymore for kill and clone actions.

[2018-05-14 15:57] thongonary opened #277 "Check the file size when splitting"
Please add another condition to the splitting: the file size must be less than 20 GB.

[2018-05-16 09:04] prozober commented on #265
@areinsvo I finally had the chance to kill and clone a request with more than two ACDC rounds
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_BTV-RunIISpring18wmLHEGS-00009

as you can see, the third ACDC round was not rejected
https://cmsweb.cern.ch/reqmgr2/fetch?rid=vlimant_ACDC3_task_BTV-RunIISpring18wmLHEGS-00009__v1_T_180426_200124_4344

Could you please take a look?

[2018-05-16 09:10] vlimant commented on #265
the commit was on May 4, while the actor action was on May 2. Any more recent one?

[2018-05-16 09:57] vlimant commented on #274
@amaltaro if it's only an issue of viewing, I'd leave it until #246

[2018-05-16 09:59] vlimant commented on #266
irrelevant, since the clone is later assigned and locked

[2018-05-16 09:59] #266 closed

[2018-05-16 10:00] #172 closed

[2018-05-16 10:01] vlimant commented on #201
using actors anyways

[2018-05-16 10:01] #201 closed

[2018-05-16 10:01] vlimant commented on #252
#264

[2018-05-16 10:01] #252 closed

[2018-05-16 10:03] vlimant commented on #269
0b97a4882fcad3fe6211beef737d83bc2db927bf

[2018-05-16 10:03] vlimant commented on #269
@SvenjaPflitsch if you have time to do some dev on this

[2018-05-16 10:53] vlimant opened #280 "Priority increase after some level of completion"
it has been reported to me that there is a wish to have priority increase of the last N% of a workflow (N=10, 5)
this is a rather trivial thing to put in completor (https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/completor.py#L192) once the rule is clear and we are sure it has no downside.

@thongonary @mcremone let me know what you guys come up with.

[2018-05-30 13:46] vlimant commented on #274
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_HIG-RunIIFall17wmLHEGS-01310__v1_T_180415_205016_4317 is not a clone from unified, but something injected by mcm

[2018-05-30 13:56] vlimant commented on #274
dropping EventsPerJob when making a clone does not really cover the case where this was specified in the first request.
Also dropping EventsPerLumi in the clone will make it unknown what was the initial value, dropping has to happen if efficiency is !=1, otherwise there is a loop

[2018-05-30 14:16] vlimant commented on #274
I cloned manually
vlimant_task_EXO-RunIIFall17wmLHEGS-00155__v1_T_180511_164142_2928
prozober_task_B2G-RunIIFall17wmLHEGS-00210__v1_T_180515_105715_7041
with dropping EventsPerJob, and they look fine.
they are the only two severe job splitting screw up I could list so far

[2018-06-21 15:25] thongonary opened #285 "Enable cloning without killing workflow?"
Dima insisted again today that this should be possible. The output dataset version number could be changed to avoid the duplication.

Motivation: This top-priority request https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_PPD-RunIISummer18GS-00005 is making no progress since it's only running at DESY, which is pretty full. We should be able to clone it to run in parallel at C

[2018-07-11 09:43] amaltaro opened #287 "Misleading message about priority bump"
As discussed in slack (wtc channel), unified is reporting that the request priority is getting bumped for being injected for too long, while nothing is happening. E.g.:
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=task_HIG-RunIISummer15wmLHEGS-02125#ERROR

as discussed with Jean-Roch, Unified doesn't change the priority of requests "stuck" in acquired. So such messages should never

[2018-07-11 11:34] #277 closed

[2018-07-11 11:40] #265 closed

[2018-07-17 14:53] thongonary opened #288 "Unified error report does not get the exit codes"
https://cms-unified.web.cern.ch/cms-unified/report/pdmvserv_task_SUS-RunIIFall17GS-00005__v1_T_180618_191828_2442

A screenshot in case it's gone from webspace:
![image](https://user-images.githubusercontent.com/10479549/42825209-d0f70a64-89e1-11e8-9d8f-b578fee233cd.png)

There are failures with exit codes in WmStats, but they do not propagate to the Unified error report.

[2018-07-17 15:40] vlimant commented on #288
how many such cases have you noticed. I go with a wmstat data server glitch

[2018-07-17 15:40] #288 closed

[2018-07-17 15:46] vlimant commented on #285
Doing such thing will have a sever impact upstream in mcm last time I checked.
it also breaks the paradigm of one workflow valid per prepid (not counting ACDC).
You can always clone using resubmit.py and assigned by hand, but then it's outside of unified ; which is fine since we get one such very very rarely.
Maybe better to tackle the initial issue than forcing a disruptive design change.

[2018-07-17 15:46] #285 closed

[2018-07-18 09:08] thongonary opened #289 "Disable automatic priority bump in Unified"
is the conclusion from the F2F management today.

[2018-07-20 00:16] thongonary commented on #289
https://github.com/CMSCompOps/WmAgentScripts/commit/120e7dc6466df8ffdd0fd9bda120dc9d497b535d

[2018-07-20 00:16] #289 closed

[2018-07-20 07:09] amaltaro opened #290 "Agent manager - updates to reqmgr_aux docs triggered by trello"
It seems agents moved to the "Drained" column in the trello board trigger an Unified action which updates the agent reqmgr_aux doc to `"UserDrainMode": false`.

I usually move cards to Drained only when the agent is down and removed from wmstats. It happens that I moved submit3 to the Drained column before shutting it down and I see that the agent has acquired a bunch of work and is running jobs o

[2018-07-20 07:14] amaltaro opened #291 "Agent manager - let draining agents with warnings in drain mode"
It happened last night that vocms0257 was moved to "Up & Running" by unified, even with a disk warning at 89%. This should be changed such that we only have _healthy_ agents moved to production.

In addition to that, I remember you @vlimant saying that cards manually moved to the Draining column in trello would make the agent be out of the unified agent watch list. The agent was automatically put

[2018-07-20 13:48] vlimant commented on #290
https://github.com/CMSCompOps/WmAgentScripts/commit/d783cf713ea5fcd86e630d5ce9cd97d999c93962

[2018-07-20 13:48] vlimant commented on #290
the drained and offline cards were indeed ignored for sync and lead to waking up agents in that box.

[2018-07-20 13:48] #290 closed

[2018-07-20 13:51] thongonary opened #292 "Relval should not go to assistance-manual"
For example
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_10_2_0_pre6__fullsim_noPU_HS_fixCPE_highIO-1531273595-QCD_Pt-20toInf_MuEnrichedPt15_13TeV
is in assistance-manual because of biglumi.

Relval should be automatically bypassed in any case and there should be no action required for ops.

[2018-07-20 13:57] amaltaro commented on #290
I don't know where that "offline" list name comes from, but thanks for fixing it.

[2018-07-20 13:59] vlimant commented on #291
https://github.com/CMSCompOps/WmAgentScripts/commit/9f725b1f4796a95a74e814ac09be76a93abff851

[2018-07-20 13:59] #291 closed

[2018-07-20 15:48] SvenjaPflitsch commented on #292
I have never seen this status before and usually RelVals just fail. I even asked @prozober  what is usually done if one shows errors that could be fixed with an ACDC like file-read issues and she told me that they are not touched.

[2018-07-20 17:59] vlimant commented on #292
https://github.com/CMSCompOps/WmAgentScripts/commit/b8109819d12713e8a283f84a2616417b3c443c9e

[2018-07-20 17:59] #292 closed

[2018-07-26 14:30] SvenjaPflitsch opened #294 "Empty action submitted"
I am getting the following error message that I have never seen before:

"Empty action submitted for workflow fabozzi_Run2016B-07Aug17_ver2-v1-DisplacedJet-17Jul2018_ver2_949_180717_171402_572"

If people know, please tell me so I can add it to the Unified Officer twiki.

[2018-07-26 14:36] SvenjaPflitsch commented on #294
The workflow is currently in "assistance manual" so it could be a WTC issue.
The ProdMon link is:
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2016B-07Aug17_ver2-v1-DisplacedJet-17Jul2018_ver2-0012

[2018-07-30 09:12] sharad1126 opened #295 "Unified shows wrong/incomplete explanation for exit code 99401/99303/99400"
Unified needs to check the explanation of these exit codes(99400/99401/99303) properly before displaying it on the page. For eg, https://cms-unified.web.cern.ch/cms-unified/report/pdmvserv_task_B2G-RunIIFall17DRPremix-00162__v1_T_180307_173158_8536#B2G-RunIIFall17DRPremix-00162_1:99401 workflow doesn't tells which site has the problem exactly, where as WMStats has the proper error message explanat

[2018-07-30 14:50] prozober opened #296 "Need to fetch logs by request"
We need a mechanism to fetch JobLogs, condorLogs and the Unified JobReport by request.
This is needed when an issue is being debuged.

[2018-07-30 18:11] vlimant commented on #295
@ticoann  and @amaltaro can maybe tell why the documents retrieved from wmstats do not contain the site location for these errors. unified is merely a different visualization for that

[2018-07-30 18:12] vlimant commented on #296
can you please be more specific about how/what/when ?
N.B. Unified/showError.py can be run manually with the -w <wfname> to create a report
N.B. this is something in the list of things for the new console

[2018-07-31 07:14] prozober commented on #296
This is needed when we need to provide logs to the requestors or site admins, in order to identify an issue with a request or a site.
As this is a critical task, we need to report the logs as soon as possible. We've seen top priority workflows with issues, taking a couple of days to provide the info we need.

Does showError.py fetch the JobLogs too?

@sharad1126, FYI.

[2018-08-03 10:06] sharad1126 opened #297 "Alert system for failed workflows/ACDCs"
WMStats has a link which lists the failed workflows/ACDCs as soon as it fails. Can we have some type of alerts that helps us to know about it so an immediate action can be taken?

Link for WMStats -> **request alert** tab(on top of [https://cmsweb.cern.ch/wmstats/index.html](url)) and when we scroll down, at the bottom, it shows all the failed workflows/ACDCs under a heading _**failed**_.

We can

[2018-08-06 08:48] thongonary opened #298 "completor log shows wrong target statistics"
For example
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=task_EXO-RunIIFall17GS-00238

The campaign RunIIFall17GS is set fractionpass=0.95, force-complete=0.99, so I don't understand what the number 1000 is.
This also happens to other workflows in other campaigns, such as https://cms-unified.web.cern.ch/cms-unified/showlog/?search=task_BTV-RunIISummer18GS-00017

[2018-08-09 20:18] ticoann opened #299 "remove ReqMgr2Only flag"
I am not sure it affect here. related to https://github.com/dmwm/WMCore/pull/8703
Anyway, this will be in next deployment (HG1809). I will check the WmAgentScript whether anything need to be updated

[2018-08-15 11:49] SvenjaPflitsch opened #300 "Rejection not propagated"
I have found two instances where the workflow has been killed and resubmitted but Unified still shows it as "away" and the new workflow cannot run due to this.

This one has been handled by @prozober :
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_PPD-RunIIFall18wmLHEGS-00001 (JIRA: https://its.cern.ch/jira/browse/CMSCOMPPR-3334)

This one has been handled by Scarlet as t

[2018-08-15 17:05] vlimant commented on #300
there is no issue to be solved in the software. checkor has not been able to run on those since they have been rejected

[2018-08-15 17:33] vlimant commented on #300
oh, and BTW @SvenjaPflitsch @thongonary @mcremone the "issue" is because @scarletnorberg has hard rejected this by hand
    {
      "DN": "/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=snorberg/CN=696603/CN=Scarlet Rachel Norberg",
      "Status": "aborted",
      "UpdateTime": 1534153924
    },

instead of either using Unified (which we should not do at AD role) or McM (which she can as prod manage

[2018-08-16 09:03] thongonary commented on #300
For the PPD one Paola rejected it with reject.py. Is it not supposed to be used?

[2018-08-16 18:02] vlimant commented on #300
it always worked. there is no issue to be solved in software

[2018-08-16 18:02] #300 closed

[2018-08-20 09:23] sharad1126 opened #301 "WMStats reports for some ACDCs are empty"
@amaltaro @ticoann  WMStats reports for some ACDCs are empty.

Workflows -

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_HIG-RunIIFall17wmLHEGS-01415

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_HIG-RunIIFall17wmLHEGS-01396

https://its.cern.ch/jira/browse/CMSCOMPPR-3297
https://its.cern.ch/jira/browse/CMSCOMPPR-3387

Please have a look.

[2018-08-20 09:42] amaltaro opened #302 "Apply to the jobRouter updates the same quanta used in WMCore"
@vlimant see for more info
https://cms-logbook.cern.ch/elog/GlideInWMS/6490

[2018-08-20 09:46] amaltaro commented on #301
Sharad, you probably wanted to open it for https://github.com/dmwm/WMCore instead.

there is a total of 20 requests handling this prep_id, can you please be more specific with which *request name* didn't upload ACDC documents?

it's been announced. I'd say you can forget this one.

[2018-08-20 09:56] sharad1126 commented on #301
Ahh sorry .. i'll open an issue in WMCore ... will close this one..

[2018-08-20 09:57] #301 closed

[2018-08-21 14:34] amaltaro commented on #302
Yes, for disk usage.

[2018-08-21 18:11] vlimant commented on #302
@SvenjaPflitsch can you please go ahead with changing time_quanta to 60?

[2018-08-22 21:46] #302 closed

[2018-08-22 21:51] vlimant commented on #299
@ticoann this https://github.com/CMSCompOps/WmAgentScripts/commit/04adb1218420cc1091337a99ce98cc6b0782d465 should be enough to make sure the absence of the flag is not interpreted wrongly

[2018-08-22 21:52] vlimant commented on #299
what would be left to do, is to clean up completely reqMgrClient from any reqmgr1 interface

[2018-08-22 21:53] vlimant commented on #296
showError does get some logs, if you need targeted logs, there is a link in wmstats

[2018-08-22 21:53] #296 closed

[2018-08-22 21:54] vlimant commented on #280
closing for inactivity

[2018-08-22 21:54] #280 closed

[2018-08-22 21:59] vlimant commented on #216
https://github.com/CMSCompOps/WmAgentScripts/commit/2641f3150385b60a108c057e85baa3cc8cd54e50

[2018-08-22 21:59] #216 closed

[2018-08-22 22:00] #295 closed

[2018-08-23 02:53] ticoann commented on #299
Thank you for taking care of this.

[2018-08-23 11:24] vlimant opened #303 "add a "minimum secondary copies" campaign parameter"
so that workflows cannot get assigned before at least N copies of the secondary are available
@SvenjaPflitsch @thongonary @mcremone

[2018-08-31 12:14] SvenjaPflitsch opened #304 "More detailed log-entry for too large output"
The issue that triggered this can be found in this jira-ticket:
https://its.cern.ch/jira/browse/CMSCOMPPR-3423

The log of the workflow in question only gave the message "Change of splitting is on hold" and the more detailed explanation could only be found in the general assignor log:
The message from there should also show up in the Unified log of the workflow.

Error message from assignor:
-----

[2018-09-12 08:49] sharad1126 opened #307 "reject.py gives error html page on approval request while cloning a workflow"
Getting an error on approval using reject.py on using reject.py -i -c {wf name}

Submitting workflow
RESPONSE sagarwal_task_HIG-RunIIFall17wmLHEGS-01452__v1_T_180904_141940_3163
Cloned workflow: sagarwal_task_HIG-RunIIFall17wmLHEGS-01452__v1_T_180904_141940_3163
sagarwal_task_HIG-RunIIFall17wmLHEGS-01452__v1_T_180904_141940_3163
Approving request response:
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML

[2018-09-13 15:29] sharad1126 commented on #307
This was due to old scripts in my afs. Closing the issue.

[2018-09-13 15:29] #307 closed

[2018-09-14 11:58] vlimant opened #308 "memory options in actor"
something that needs to be coordinated between development in actor and the console. If one wants to pass 2x ... for the memory
@prozober @vined

[2018-09-14 13:33] thongonary opened #309 "Workflows stuck in away (Unified) / completed (ReqMgr2)"
At the moment, there are 1589 workflows stuck in this state
https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?in_production=1&rsort=2&older=2&status=validation
Some has been in this state for more than 3 weeks, for example: https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2016B-L1MinimumBias1-07Aug17_ver2-0004
Checkor runs normally -- it ran yesterday without an

[2018-09-17 07:56] SvenjaPflitsch commented on #309
I tried to run checkor manually on the example given by Thong and got an error.
I was logged in at vocms0275. It does not look like a general issue as the normal checkor logs do not show these kinds of error messages. @vlimant do I need to load another module or initialize something to run checkor manually now?

--------------------------------------------------------------------------------------

[2018-09-17 09:09] thongonary commented on #309
@SvenjaPflitsch would these help? https://github.com/CMSCompOps/WmAgentScripts/blob/master/cWrap.sh#L49-L52

[2018-09-17 09:19] SvenjaPflitsch commented on #309
Yes that helped. Thank you Thong.

[2018-09-17 09:32] thongonary opened #310 "Unified should check with DBS block first and then match with PhEDEx files"
Instead of vice-versa, so that there will be fewer false alerts of file mismatch when PhEDEx blocks are still filling and not appearing in DBS.
Details are in https://its.cern.ch/jira/browse/CMSCOMPPR-3480

[2018-09-17 10:13] SvenjaPflitsch commented on #309
It looks like the explanation for this is rather simple in the end.
Checkor is only handling 200 workflows per round (value is set in unified) and it is handling the ones with high priority first. And since checkor is most affected from the eos instabilities, and we have lots of high-priority work in the system it is not getting to the ones with 85k priority or less.

[2018-09-17 11:15] thongonary commented on #309
Thanks Svenja! So I guess the 200 workflows per round is to reduce the length of Unified cycle. According to a chat with Dima last week, it seems Unified was slow because it has to save workflows logs to EOS. We might want to disable this if it negatively affects our operation -- which is the case. @SvenjaPflitsch can you please try changing the value of those lines to an empty list, ie, "value" :

[2018-09-17 11:19] vlimant commented on #309
let's disable the report only from checkor. not changing expose_archive_code and expose_condor_code

[2018-09-17 15:13] vlimant opened #311 "actor should set cloned workflow in "trouble""
the original workflow' unified status should be set to "trouble" instead of leaving checkor to come along later.
@SvenjaPflitsch is that a quick change you can bring ?

[2018-09-17 15:52] SvenjaPflitsch commented on #309
https://github.com/CMSCompOps/WmAgentScripts/blob/e5024a06c577084455f45da2fd5bb9cf20979242/Unified/checkor.py#L1147

I would change this line to "so = showError_options( expose = 0 )"

This looks like it would disable expose_archive_code and expose_condor_code to run during the run of checkor. @vlimant can you confirm or am I on the wrong track?

[2018-09-18 10:16] thongonary opened #312 "Warning system in Unified for eos issue"
At the moment when eos has issue, Unified just silently stops working, making it very difficult to debug and report the issue.

We need a warning system when Unified stops working due to EOS issue that can be monitored by the Unified Officer. It should report as many details as possible, such as output from `fuse.cms.log` so that it can be forwarded to the EOS team.

This is urgent since it's also

[2018-09-18 10:27] vlimant commented on #312
for silently see https://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=heartbeat&limit=100

[2018-09-18 10:30] thongonary commented on #312
There is no indicator of EOS instability in the heartbeat report, and the UO has no procedure to verify it.

[2018-09-18 10:31] vlimant commented on #312
just saying that it's not silent

[2018-09-18 10:33] SvenjaPflitsch commented on #312
Looking at the timestamps, checkor has been running up to 4 times a day until 2 days ago. 4 times is still not a lot, but it is enough to not trigger the heartbeat message.

[2018-09-18 10:37] vlimant commented on #312
the tail -f will not help you much picking up on the fact that checkor is running "slow".
on the other hand, it is pretty trivial to measure the full time spend and divide by the number of workflow handled, and set the alarm for this

[2018-09-18 10:39] thongonary commented on #312
The fuse log is for reporting to the EOS team. We can't just say "EOS is not working" without providing further details and expect things to be fixed.

[2018-09-18 10:42] vlimant commented on #312
Daniel has access to the node, and as admin rights. he has provided information here and there when necessary.
having this (the tail -f ...) exposed permantly out brings you nothing

[2018-09-18 10:45] vlimant commented on #312
so the fuse log, one should ask Daniel, to provide information each time you find out there is an issue with a module and that it seems to be hanging on eos.

the "module took more than n sec/workflow" is a good idead @SvenjaPflitsch

[2018-09-18 11:46] vlimant commented on #312
https://github.com/CMSCompOps/WmAgentScripts/commit/a7d915d96fc5815423d5a3cd3cbb3e353b19f325 for 60s/workflow warning

[2018-09-19 12:05] vlimant commented on #310
@ticoann please elaborate since there isn't enough information here and there.
plus I think what you suggest will allow for an output to look "clean" while there are still missing files in one of the system ; which is a no go before starting to check sanity of output.
I'll refer to https://github.com/dmwm/WMCore/issues/8148 for fixing the issue at the source.

[2018-09-19 12:05] #310 closed

[2018-09-19 12:11] SvenjaPflitsch commented on #309
It looks like checkor is running much faster now (5 completed cycles today already). In order to get the remaining completed workflows out of the system faster, could we temporarily increase the number of workflows it looks at to 300 per cycle (200 now)?
That way it does not double check the high priority ones quite as often.

[2018-09-19 12:19] thongonary commented on #309
Yes please go ahead.

[2018-09-20 07:34] #275 closed

[2018-09-20 07:45] amaltaro commented on #299
One could also completely remove this check for ReqMgr2Only and avoid one additional query to reqmgr2.

[2018-09-20 07:48] vlimant commented on #272
relies on #269

[2018-09-20 07:59] vlimant commented on #299
c.f. #313

[2018-09-20 15:36] thongonary opened #315 "Allow Fall18 campaign to run at CERN"
Dima doesn't want to put CERN back to production yet, but wants to make exception for Fall18 campaign so that it can run at CERN.
Do you think this is possible? @SvenjaPflitsch @vlimant

[2018-09-20 15:51] SvenjaPflitsch commented on #315
The only thing I can think of is Re-Enabling CERN but blacklisting it for all campaigns except Fall18. But this means I need to go through all campaign configurations and edit the site-blacklist.

[2018-09-20 16:32] vlimant commented on #315
that's a bit of a weird use case, not really supported.
however, it should be possible to include an override_allowed campaign parameter to let a set of sites be added to the list of allowed sites.

[2018-09-24 09:45] #311 closed

[2018-09-24 11:09] SvenjaPflitsch commented on #309
Would it be possible to run checkor on two machines at the same time? Maybe one taking care of the high-priority  workflows e.g. > 90k  and the second one on the low priority ones < 90k so they do not overlapp?

[2018-09-24 16:08] thongonary opened #316 "Changing authentication methods"
Per Dima's request:

[2018-09-25 06:56] SvenjaPflitsch commented on #309
I had another look at checkor and there are options to only check on the completed workflows and to only check on the ongoing ones or the ones in "manual", etc.. . If a second cycle of checkor were to be set up it could be configured to run with the option "strict", which makes it check only the workflows in ReqMgr status "completed". Though I am not sure what will happen if the regular cycle and

[2018-09-25 08:05] vlimant commented on #309
the concurrency is not a good thing indeed. what's the real reason something that has been functioning in the same situation is not functioning anymore ?

[2018-09-28 12:19] vlimant opened #319 "actor sites=auto option harmonization"
ATM the console is setting the "sites" parameter of the action to the actual list of site found in the acdc document. on actor side, the absence of "sites" parameter in the action document, is effectively taking the sites from the acdc document.
so that an action can be applied to multiple task, the console should be either sending "sites":"auto" or remove the "sites" parameter to let actor handle

[2018-10-01 10:21] sharad1126 opened #321 "Issue with checkor"
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_BPH-RunIIFall17GS-00021

Workflow lies in assistance-manual even after having 4 completed ACDCs.

@SvenjaPflitsch can you please have a look?

[2018-10-01 10:42] SvenjaPflitsch commented on #321
It does not look like it is a checkor issue per se. Looking at the Unified log I can find the following messages:
inconsistent ACDC vlimant_ACDC1_task_BPH-RunIIFall17GS-00021__v1_T_180817_170118_1228
inconsistent ACDC vlimant_ACDC1_task_BPH-RunIIFall17GS-00021__v1_T_180817_170153_6508
inconsistent ACDC vlimant_ACDC1_task_BPH-RunIIFall17GS-00021__v1_T_180817_170201_3664
inconsistent ACDC vlimant_AC

[2018-10-01 11:02] SvenjaPflitsch commented on #321
The names of the ACDC outputs are not consistent with the names of the outputs from the original workflow:
This is the output from the original workflow:  its v11-v3
"/BuToJpsiK_BMuonFilter_SoftQCDnonD_TuneCP5_13TeV-pythia8-evtgen/RunIIFall17DRPremix-PU2017_94X_mc2017_realistic_v11-v3/AODSIM",

The ACDCs all have v11-v2 instead of v3 in the name, e.g.:
/BuToJpsiK_BMuonFilter_SoftQCDnonD_TuneCP5_13

[2018-10-01 14:31] #321 closed

[2018-10-02 09:08] thongonary commented on #315
Svenja, can you please proceed with this solution?

[2018-10-02 11:08] SvenjaPflitsch commented on #315
The following campaigns now have T2_CERN and HLT blacklisted:

RunIIWinter15pLHE
RunIIWinter15wmLHE
RunIISummer15wmLHEGS
RunIIWinter15GenOnly
RunIISummer15GS

2016-----------------

Run2016B
RunIISummer16DR80Premix (Removed T2_CH_CERN from "SecondaryLocation")
RunIISummer16MiniAODv2
RunIISummer16MiniAODv3
RunIISummer16NanoAOD
RunIISummer16NanoAODv3

2017-----------------

EOYReReco2017
Commissioni

[2018-10-02 15:07] thongonary commented on #315
Thanks a lot @SvenjaPflitsch !

[2018-10-02 15:07] #315 closed

[2018-10-03 17:34] thongonary commented on #309
Merged the PR to test. For the record: there are 2006 wfs in completed/away in https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?in_production=1&rsort=2&older=2&status=validation at the time of this post.

[2018-10-04 15:28] sharad1126 opened #322 "ACDC submitted according to WTC console didn't generated another ACDC"
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_BPH-RunIISummer15wmLHEGS-00013

According to WTC console, on the ACDC0, action was submitted but ACDC1 never got created. Also the WTC console shows ACDC0 in green which means action has been submitted on it.

@dabercro @amaltaro @SvenjaPflitsch @vlimant can you please have a look?

[2018-10-04 15:40] vlimant commented on #322
the action is there in the console, for actor to come and work on https://vocms0113.cern.ch/getaction?days=15 but https://cms-unified.web.cern.ch/cms-unified//logs/actor/last.log the action is empty

http://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=actor&limit=50&size=1000

@dabercro ?

[2018-10-04 17:28] dabercro commented on #322
Yeah, I think these happen when multiple workflows are acted on at the same time. I'm still not sure yet.

In my opinion, the best thing to do is for the actor to use defaults since there are no provided details. I think actor used to handle these tasks that way, but this was changed as I mentioned here: https://its.cern.ch/jira/browse/CMSCOMPPR-3281?focusedCommentId=2181777&page=com.atlassian.jir

[2018-10-05 07:37] vlimant commented on #309
1700 wfs ATM ?

[2018-10-05 07:39] SvenjaPflitsch commented on #309
Yes that's right and everything with priority above 85k is gone.

[2018-10-05 07:40] thongonary commented on #309
Yes it seems to progress OK. Perhaps we would want to increase number of concurrency (to 20) to see if the rate could be faster, if you don't see any problem with that.

[2018-10-05 07:41] vlimant commented on #309
https://github.com/CMSCompOps/WmAgentScripts/commit/2221dca39337e027064b11ffeeb044b0785cefa5

[2018-10-05 07:45] thongonary commented on #309
Just had a chat with Justas and he thinks we should use http instead of https. Skipping authentication could increase the rate significantly.

[2018-10-05 09:37] sharad1126 opened #323 "Issue with task_TOP-RunIIpp5Spring18wmLHEGS-00027"
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_TOP-RunIIpp5Spring18wmLHEGS-00027

----- Begin Fatal Exception 28-Sep-2018 16:09:16 UTC-----------------------
An exception of category 'Configuration' occurred while
[0] Constructing the EventProcessor
[1] Constructing module: class=MixingModule label='mix'
Exception Message:
RootEmbeddedFileSequence no input files specified

[2018-10-05 09:41] vlimant commented on #323
nothing to be solved here

[2018-10-05 09:41] #323 closed

[2018-10-05 10:04] vlimant commented on #309
https won't work, since there is an auth layer to go through from the vm

[2018-10-05 10:06] vlimant commented on #309
the analysis of one outlier wf and getRecoveryBlocks perf issue does not give a representative view of what is the bottleneck overall (information that is not here BTW)

[2018-10-05 10:15] vlimant commented on #309
I had to push several changes to the original untested threaded code that was merged without testing ; when that happens @thongonary *you* have to be extra vigilant and stay on the watch constantly

[2018-10-06 21:21] thongonary opened #324 "Bug when calling rejector from injector"
https://cms-unified.web.cern.ch/cms-unified//logs/injector/2018-10-06_12:50:45.log

[2018-10-06 21:33] thongonary commented on #324
https://github.com/CMSCompOps/WmAgentScripts/commit/49fe9aa47a80bf0f4545846435437d52c670b8ca should fix this

[2018-10-07 12:28] thongonary commented on #324
https://github.com/CMSCompOps/WmAgentScripts/commit/211f532b8d5fa7b177cc5e838637b199be1c2ea5 more fix

[2018-10-08 12:18] thongonary commented on #324
We need to disable this conversion for RelVal. Any idea how to do this? @SvenjaPflitsch @vlimant

[2018-10-08 14:51] vlimant commented on #324
https://github.com/CMSCompOps/WmAgentScripts/pull/278 introduced this

[2018-10-10 08:16] vlimant commented on #324
you need the sso cookie

[2018-10-10 08:37] vlimant commented on #309
360 wfs ATM

[2018-10-10 08:57] vlimant commented on #309
https://github.com/CMSCompOps/WmAgentScripts/commit/49d4651217621ce258b0a41ef60af8d43f0a8478

[2018-10-10 14:34] vlimant commented on #309
will likely push #326 in to speed up things further

[2018-10-10 17:57] thongonary opened #328 "Adding options to choose sites and xrootd for cloning"
would be good since we have this option for ACDC but not for clone. Have been in needed several times in the past.

[2018-10-11 08:35] vlimant commented on #328
you should be more specific if you need someone to implement that, or say you'll implement it yourself

[2018-10-12 07:30] vlimant commented on #309
3

[2018-10-12 07:30] #309 closed

[2018-10-24 12:18] thongonary opened #332 "Onhold_timeout should count from the day it's set onhold"
Currently it's counted from the day that the workflow is completed, which is undesirable. For example, if the workflow is completed for 2 weeks and then Sharad reports it to HN and sets it on-hold, it will be bypassed immediately. This is a typical situation since there are over 1000 workflows in assistance-manual, many of which have stayed for weeks.

Ideally we want the onhold_timeout to be coun

[2018-11-01 17:27] SvenjaPflitsch opened #333 "Tape subsciption fails"
There are several workflows that are finished, but do not have a tape subscription. The prime-example being the new Premix library for the Autumn18 campaigns: https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_PPD-RunIISummer17PrePremix-00010
Going through the logs of the premix-library workflow line by line and there were two attempts to make a tape subscription:

Using T1_UK

[2018-11-01 17:33] vlimant commented on #333
https://cmsweb.cern.ch/phedex/datasvc/xml/prod/requestlist?dataset=/Neutrino_E-10_gun/RunIISummer17PrePremix-PUAutumn18_102X_upgrade2018_realistic_v15-v1/GEN-SIM-DIGI-RAW&node=T*_MSS

there's a pending subscription to tape.

if there is one thing that cannot fail is a sample going to closed-out without a tape subscription if checkor has the guideline of making one

[2018-11-01 17:33] #333 closed

[2018-11-05 07:57] SvenjaPflitsch opened #334 "batches.json is empty"
This has now happened twice in the last two weeks:
The file /eos/cms/store/unified/batches.json could not be read because it was completely empty.
This was why "batches = json.loads(eosRead('%s/batches.json' % base_eos_dir))" failed.

The solution in this case was to add a pair of brackets "{}" to the file to make it recognizable as a json again. That way new entries could be added to the file.

@

[2018-11-05 07:58] vlimant commented on #334
eos is eating the file indeed, you guys should start with that.
the content of the file might be relevant enough that putting {} is not the right thing to do

[2018-11-06 11:45] vlimant opened #335 "set -recovering- status from actor"
instead of leaving this to checkor in a further round

[2018-11-09 10:32] vlimant commented on #335
dfa462beb58931263d8b1461889d6bf2c33e6ac6

[2018-11-09 10:32] #335 closed

[2018-11-09 10:34] #324 closed

[2018-11-09 10:35] vlimant commented on #334
#336 will remove the need for anything on this matter

[2018-11-09 10:35] #334 closed

[2018-11-12 07:11] mcremone commented on #324
we should authenticate with our certificate, like this:

cern-get-sso-cookie --cert ~/.globus/usercert.pem --key ~/.globus/userkey.pem -r -u https://cms-pdmv.cern.ch/mcm/ -o ~/private/mcm-cookie.txt

dropping the --krb option. This way the module runs.

[2018-11-15 13:34] vlimant commented on #332
there shouldnt be two weeks between docking in assistance and being handled

[2018-11-15 13:34] #332 closed

[2018-11-15 14:47] vlimant opened #339 "wire the new wtc console for restricted access"
some modification to actor should be done to grab actions from http://vocms0276.cern.ch/tasks and enact them
@vined where are the actions commited to ?

[2018-11-19 09:00] vlimant opened #340 "agentfilemismatch does not act as expected"

[2018-11-29 16:15] SvenjaPflitsch opened #345 "Putting addhoc_lock.json on afs"
Following up on the P&R meeting, it was suggested to move that file on afs instead of eos because it is small. @drkovalskyi @vlimant what needs to be done for this?

[2018-11-29 16:50] drkovalskyi commented on #345
Can someone please clarify who exactly is using it and for what? I can look at the code tomorrow, but some overview would help.

[2018-12-19 15:48] vlimant opened #346 "speed up duplicate lumi check"
from @yuyiguo

DBS provide listBlocks API (https://cms-http-group.web.cern.ch/cms-http-group/apidoc/dbs3-client/current/dbs.apis.html?highlight=listblocks#dbs.apis.dbsClient.DbsApi.listBlocks). This API allows one to list all the blocks of a dataset. Because a dataset may have a huge number of blocks that across a long time period so one may use the date information in this API to limit the intere

[2019-01-11 20:03] dabercro opened #350 "Propagate Splitting Parameter"
When the splitting parameter was used by @mcremone over winter break, it does not seem to have changed the splitting of the jobs created. The splitting still appeared in the list of parameters returned by the "getaction" API (for an example, open https://vocms0113.cern.ch:80/getaction?days=20&acted=1 and search for "splitting").

[2019-01-14 08:22] vlimant commented on #350
please provide one specific case

[2019-01-14 08:37] SvenjaPflitsch opened #351 "Campaigns disappearing from mongodb"
The two campaigns HINPbPbAutumn18GS and HINPbPbAutumn18DR have been removed from mongodb twice now.
@mweinberg2718 and PdmV noticed the "no go due to" entry in the critical messages for this workflow:

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_HIN-HINPbPbAutumn18GS-00033

I put them back on Thursday already, but when assignor tried to run on it on Saturday, they had d

[2019-01-14 09:02] vlimant commented on #351
where's the configuration in GH ?

[2019-01-14 09:07] SvenjaPflitsch commented on #351
The configurations for both campaigns can be found here: https://its.cern.ch/jira/browse/CMSCOMPPR-3989 . I did not add them to campaignsConfiguration.json when I set them up, only used campaignsConfiguration.py .

[2019-01-14 09:18] vlimant commented on #351
someone did put it back, correct ?

[2019-01-14 09:20] SvenjaPflitsch commented on #351
I did, about 45 min ago when I was asked why this was still showing "no go"

[2019-01-14 09:45] SvenjaPflitsch commented on #351
I always added them like this:
python campaignsConfiguration.py --name "HINPbPbAutumn18GS" --configuration '{"go": true, "fractionpass": 0.95, etc... }'

[2019-01-14 09:48] vlimant commented on #351
please copy the full command
from f7251ba44ee45807cf859d492757c2c5bb9aa591 you can also put the config in a json and do
python campaignsConfiguration.py --name HINPbPbAutumn18GS --configuration HINPbPbAutumn18GS.json

[2019-01-14 09:49] vlimant commented on #351
I am looking for a type=relval sneaking in somehow

[2019-01-14 15:34] dabercro commented on #350
By following my link above, I see that the ACDC for workflow "pdmvserv_task_EXO-RunIIFall17GS-01591__v1_T_181120_133558_5038" has splitting entered for task "EXO-RunIIFall17GS-01591_0"

@sharad1126 or @mcremone may be able to say whichever particular workflow they noticed it for.

[2019-01-14 15:42] vlimant commented on #350
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L136 there is a protection against bad operators

[2019-01-14 15:44] vlimant commented on #350
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L186 actually

[2019-01-14 15:45] #350 closed

[2019-01-14 15:49] sharad1126 commented on #350
Thanks for the info @vlimant ... This means that the splitting works but not all can do it. Got it.

[2019-01-15 09:01] vlimant commented on #351
the campaign is still there and nothing was changed ; I can only assume that either it was not added back in mongodb, or that one removed it.
please keep campaigns.json always up to date in GH

vlimant@vocms0275.cern.ch >python campaignsConfiguration.py --dump campaigns.json
212 campaigns damp
vlimant@vocms0275.cern.ch >git diff campaigns.json

[2019-01-16 15:04] drkovalskyi opened #352 "Reduce EOS utilization in Unified"
EOS is used in many places in Unified, both as input and output. Unfortunately even with the fuse mount EOS cannot be used as a proper file system. CERN IT aims to reach this goal and use it as a replacement for AFS, but we are not there yet. So we have to use EOS as a mass-storage with unavoidable delays and interruptions.
The current setup causes many operational issues. To avoid them we need to

[2019-01-16 15:33] amaltaro commented on #352
Dima, I think it would be beneficial to first identify the following, such that you/we can choose the best approach here. Questions like:
* what are the use cases for accessing EOS? If not all, what are the most important?
* how much and how often is it accessed?
* are the other mechanisms that can accomplish the same goal (e.g., job logs through EOS over HTTP)?

BTW, what are those "status files"

[2019-01-16 15:37] drkovalskyi commented on #352
I'm collecting the cases. It will take time. EOS over http or xrootd is certainly an option to consider.

[2019-01-24 09:43] vlimant commented on #269
@sharad1126 there is info here for writing a bit of code, if you want to simplify your life

[2019-01-24 09:44] vlimant commented on #272
@sharad1126 FYI

[2019-01-24 09:48] sharad1126 commented on #269
wow.. this sounds good.. I can try this and also see that it doesn't makes JIRA for the first ACDC(could be a little tricky)

[2019-01-24 09:51] vlimant commented on #269
we have all markers available for creating the JIRA when we/you want it.
initial work is to be able to make a jira and do a search using the JIRAClient class in https://github.com/CMSCompOps/WmAgentScripts/commit/0b97a4882fcad3fe6211beef737d83bc2db927bf

[2019-01-24 09:58] sharad1126 commented on #272
Will discuss this with Dan and team during T&I meeting today

[2019-01-24 12:44] vlimant commented on #269
https://github.com/CMSCompOps/WmAgentScripts/commit/4f8b6345015009260cab788681fa0aa6c220b387 done !

[2019-01-24 12:44] #269 closed

[2019-01-24 14:56] sharad1126 commented on #272
@vlimant should we take the info for the jira from https://vocms0113.cern.ch:80/getaction?days=100&acted=1 or from the actor? @dabercro we never fill the reason thing in the console.

[2019-01-24 15:00] vlimant commented on #272
#356 as a seed

[2019-01-28 22:40] bbockelm commented on #352
@drkovalskyi -

A few thoughts come to mind:

1.  We probably need to distinguish "making bulk logs available" from cases where daemons want to share data (i.e., really need a shared filesystem).
2.  Have a configurable strategy for each.  For example, we might want to copy to EOS-fuse via rsync today and decide to switch over to `xrdcp` or `curl` (or "the next great thing") in the future.  We def

[2019-01-30 17:19] vlimant opened #359 "close JIRA on announcement"
@sharad1126 with the JIRA integration, we could have a convention of closing the JIRA that have a prepid in the "summary", when the corresponding workflow gets announced

[2019-01-31 09:44] vlimant opened #360 "bypass, force-complete and hold interface"
currently from file in public afs, this should be done through a mongodb collection, which can be cleaned automatically when a workflow is set to closed-out

[2019-01-31 10:23] sharad1126 commented on #359
Will start working on this locally. https://jira.readthedocs.io/en/master/examples.html#transitions
1. search interface
2. closing interface

[2019-01-31 13:39] sharad1126 commented on #359
@vlimant I think we should close the JIRA when the request is in announced/done-unlock, because sometimes it is in closed-out but not announced due to file mismatch.

[2019-01-31 14:11] vlimant opened #363 "open JIRA for "no go""
when some workflows are held on go=False, a JIRA can be created automatically following the integration in #356

[2019-01-31 14:49] vlimant commented on #359
it goes to closed-out, only once really ready to go there (i.e. filemismatch will prevent the transition).
what is in #356 is to close all related jira (prepid in the summary field) when the unified status goes to "done" from closor.

[2019-01-31 14:49] #359 closed

[2019-02-01 12:58] sharad1126 commented on #273
I think we should merge it.

[2019-02-01 13:00] #273 closed

[2019-02-01 14:14] vlimant commented on #363
we can think of having the campaign being set up from the JIRA opened this way. Unified can pick up the last comment with a valid json from that JIRA
@mweinberg2718 @sharad1126

[2019-02-01 15:54] sharad1126 opened #369 "add node names in the unified error report"
@SvenjaPflitsch I had a talk with Stephan Lammel and he told me that the site admins also look for nodes which helps them for finding info about the issues we report on GGUS. Do you think we can fetch it from WMStats to the error report too?

@vlimant @thongonary @amaltaro FYI

[2019-02-01 16:17] SvenjaPflitsch commented on #369
I think @jenimal  is the expert on finding out the node  a job is running at. At least all tickets I know where problematic nodes were the issue were filed by her.

[2019-02-01 16:32] jenimal commented on #369
Site Support has a script for finding this out @Maria  she's not on her apparently.  I'll ask her directly if she can pass the script along.  Generally she gets it from Dashboard Monitoring though not WmStats Error Reports.  That said I know the information is there.  Worker Node: is one of the field that is reported back to WmStats

[2019-02-01 20:23] dabercro opened #370 "Open Issue for Red Agents"
This is something that @phylsix could help with. He's going down the list here: https://twiki.cern.ch/twiki/bin/viewauth/CMS/CompOpsPROperationSupport#Steps_to_Automating_CSP_shifting

@vlimant, let him know where the monitoring is, and @scarletnorberg, what rules we want to use (since the tickets will go to you). @amaltaro recommended opening a ticket if a agent is red for two cycles in a row. If

[2019-02-02 09:11] vlimant commented on #370
#365

[2019-02-02 11:48] sharad1126 commented on #369
Yeah, I think it would be great if we can use it and embed it to the error report in the unified so it is easier while reporting it on the ggus ticket for the site admins. Looking forward to knowing more about it @jenimal. Btw, I think you tagged the wrong Maria in your comment.

[2019-02-02 16:18] scarletnorberg commented on #370
Hello, @dabercro we monitor agents here: https://cmsweb.cern.ch/wmstats/index.html using the tab that says agent info.
For an agent that has an error like this:
Error in worker algorithm (1):
Backtrace:
   <@========== WMException Start ==========@>
Exception Class: JobUpdaterException
Message: CouchInternalServerError - reason: Internal Server Error, data: {'stale': 'update_after', 'reduce': 'fal

[2019-02-02 16:36] sharad1126 commented on #363
Yes this would be great @vlimant I think I can work on this with @SvenjaPflitsch

[2019-02-06 20:57] vlimant commented on #351
@SvenjaPflitsch looking at the history of the json file https://github.com/CMSCompOps/WmAgentScripts/commits/master/campaigns.json all I can say is that HINPbPbAutumn18DR went out of mongodb (for "some reason") on Nov 27, and has not made it back in the sync on Dec 19.

please put here the exact command line you have used to put it back on, and the command you have use the last time before

[2019-02-07 08:22] vlimant commented on #370
@amaltaro what kind of indicator do we have for "two cycles in a row", as in #365 we could not come up with such a mechanism.
11dd48d3bbcc3fd94366a13c9797aa65a9958504 and 3f0069f460366f2ebfdeea07268ca53a029e1938 will help limiting the amount of jira activity.

as per https://its.cern.ch/jira/browse/CMSCOMPPR-4658 , there is something to be understood about "error" and "down" statuses of the agents

[2019-02-07 09:07] #360 closed

[2019-02-07 09:08] #322 closed

[2019-02-07 09:58] vlimant opened #374 "put unified report information in mongodb"
from showError, some document should be created to keep all information centralized and consumable downstream (recoverord, console, ...)

[2019-02-07 10:01] vlimant opened #375 "recover the functionality of the recoveror module"
after #374 using the information in mongodb, the functionality of recoveror can be recovered in setting actions in mongodbb for actor #339

[2019-02-07 10:34] vlimant opened #376 "workflow eviction for the console"
from https://github.com/CMSCompOps/wtc-console/issues/2  and #374 it might be faster and more economical to have the streamlined (and existing) collection of information driven by unified, and driving the eviction (or some flagging mechanism) from unified

[2019-02-07 14:01] SvenjaPflitsch commented on #351
Hi,

I had to update this specific campaign just now and did it with the following command. I usually write everything in "json-style" instead of creating an extra campaignXY.json to be read.

python campaignsConfiguration.py  --name HINPbPbAutumn18DR --configuration '{"parameters":{"MergedLFNBase":"/store/himc","SiteBlacklist":["T1_US_FNAL","T2_US_Purdue","T2_US_Caltech","T2_US_Florida","T2_US_Ne

[2019-02-07 14:04] vlimant commented on #351
the only way I see to loose a campaign in using outdated sofware through https://github.com/CMSCompOps/WmAgentScripts/commit/6ffda33c22fd140944cb9ab1cee3d433858848a0#diff-aee427b78cb693b7d987b925f831d50a

[2019-02-07 14:04] #351 closed

[2019-02-07 14:06] vlimant opened #378 "reopen JIRA / amend comments"
at this point https://github.com/CMSCompOps/WmAgentScripts/blob/2f11ab836650a9a746b1d5b3650c76361677f54b/Unified/checkor.py#L1479 one could check and re-open a closed JIRA with an adequate comment

[2019-02-08 08:31] vlimant commented on #378
4ec708855fb67136165e27ba3520691b763a77d9

[2019-02-08 08:31] #378 closed

[2019-02-08 10:18] vlimant commented on #370
77a6b59eba93b9c6d00c277fa5ddc70af9d50ed4

[2019-02-08 10:27] sharad1126 opened #379 "automating Hyper news for bypassing the requests"
When we bypass a request or put it on hold, we can automate the HN tickets while putting them on hold or bypassing them with an additional parameter --HNmessage. Mostly these requests are for prep-ops HN so it could save us some time creating the HN ticket.

[2019-02-11 13:42] sharad1126 opened #380 "some alternatives to xrootd selection for tasks while sites in drain"
Selecting xrootd services in every other requests when sites are in drain where the site are from both sides of the Atlantic(US and Europe) can cause more read errors.
eg.
ACDC created for task /pdmvserv_task_B2G-RunIIFall18wmLHEGS-00047__v1_T_190116_175532_9305/B2G-RunIIFall18wmLHEGS-00047_0/B2G-RunIIAutumn18DRPremix-00125_0/B2G-RunIIAutumn18DRPremix-00125_1. Actions taken
{"cores": "", "xrootd":

[2019-02-14 14:06] vlimant commented on #370
reopen if the traffic in jira is too high

[2019-02-14 14:06] #370 closed

[2019-02-19 09:53] vlimant opened #384 "JIRA from completor"
one can set a priority and time threshold over which a JIRA is created automatically

[2019-02-19 11:42] vlimant opened #386 "jira from stalled assignment"
since the alarms in unified about failing assignment (*) does not seem enough, should there be jira created automatically @drkovalskyi
(*) https://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=assignor

[2019-02-20 07:17] drkovalskyi commented on #386
In ideal world the answer is yes, but given that 186 open issues at the moment I don't think it will work well. If you make it to open and close the same ticket just updating it, then it can be something useful. Anyway, failures of such sort require a proper operational support and we are working toward that. So for now I don't think it will be useful.

[2019-03-01 10:32] #386 closed

[2019-03-01 10:33] vlimant commented on #384
@drkovalskyi if you have suggestions on changing the values for the notification threshold

[2019-03-01 10:33] #384 closed

[2019-03-01 10:40] vlimant commented on #379
for people not liking HN in the long run, it might be better sending that notification either (or both) to McM, or JIRA.

@drkovalskyi

[2019-03-01 11:10] #374 closed

[2019-03-01 11:49] #294 closed

[2019-03-01 12:56] vlimant opened #391 "dealing with file mismatch"
with the different counts

n_dbs = all files in dbs
n_inv_dbs = all files invalid in dbs
n_phedex = all files in phedex

there are two observed cases for [ n_dbs, n_inv_dbs, n_phedex]

[10,0,0] => 10 files are not in phedex yet (can be agent has not yet injected the files https://github.com/dmwm/WMCore/issues/8148 , can be TT nuking files but not setting the status invalid in dbs)

[10,2,10] => tw

[2019-03-04 10:53] sharad1126 opened #392 "Sync status of workflow if there is a new transfer or file invalidation"
If there is a new transfer or files are invalidated after the transfer is initiated by Unified, the workflow needs to be synced back to the "considered" state, to initiate a new one, or check for new ones if there is already one in progress.

reference- https://its.cern.ch/jira/browse/CMSCOMPPR-4796

one issue - "how to identify this from calls to phedex?"

@vlimant @thongonary FYI

[2019-03-05 20:00] thongonary opened #393 "Protection against empty lock files"
For example:
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/remainor.py#L21
[code]
We need a protection against such case.

[2019-03-06 10:52] vlimant commented on #393
the "issue" is from RunIIAutumn18FSPremix declaring "" as a secondary 9c2f0637e3eaeaf2ac73d934b0be4b4eee6d720c

[2019-03-08 13:36] sharad1126 commented on #393
`[sagarwal@vocms0275 WmAgentScripts]$ python campaignsConfiguration.py --name RunIIAutumn18FSPremix
{
  "SecondaryLocation": [
    ""
  ],
  "fractionpass": 0.95,
  "go": true,
  "lumisize": -1,
  "maxcopies": 1,
  "overflow": {
    "PREMIX": {}
  },
  "resize": "auto",
  "secondaries": {
    "": {}
  },
  "secondary_AAA": true,
  "tune": true
}`

[2019-03-08 13:38] sharad1126 commented on #393
@thongonary should I remove this "SecondaryLocation"?

[2019-03-08 13:41] thongonary commented on #393
Yes please try that.

[2019-03-08 13:44] sharad1126 commented on #393
[code]

[2019-03-11 13:30] thongonary commented on #393
Doesn't seem to work. Remainor still fails with the same message.

[2019-03-15 10:56] sharad1126 opened #395 "HTTP Proxy error for checkor and recovery script"
We are having dbs accessing issues for checkor and getDatasetPresence. Also, while running the recovery.py script, I am getting the same issues.

[code]
recovery.py error
[code]

fatal exception in getDatasetPresence for /ADDGravToGG_NegInt-0_LambdaT-5000_M-500To1000_TuneCP2_13TeV-pythia8/RunIIFall17GS-93X_mc2017_realistic_v3-v1/GEN-SIM
HTTP Error 502: Proxy Error

@vlimant @thongonary Can you ple

[2019-03-15 14:03] amaltaro opened #396 "Check OS/ScramArch before converting TaskChain to StepChain"
Besides the different Multicore values that is a showstopper for converting a taskchain into stepchain. We should also make sure that the stepchain job requires the same OS (SLC6, SLC7, etc), otherwise it will certainly bring unwanted surprises during runtime.
Thus, a check on the ScramArch values is necessary.

E.g.
["slc6_amd6_493', 'slc6_amd6_630', slc6_amd6_700'] is Ok
["slc6_amd6_493', 'slc6_

[2019-03-16 10:26] srimanob commented on #396
Pilot is injected, and notify P&R:
https://its.cern.ch/jira/browse/CMSCOMPPR-5137

[2019-03-18 09:16] #346 closed

[2019-03-18 09:28] #272 closed

[2019-03-18 09:29] vlimant commented on #374
also does #376

[2019-03-18 09:29] #376 closed

[2019-03-19 10:56] sharad1126 commented on #395
fatal exception in getDatasetPresence for /SUSYGluGluToBBHToTauTau_M-600_TuneCP5_13TeV-amcatnlo-pythia8/RunIIFall17NanoAOD-PU2017_12Apr2018_94X_mc2017_realistic_v14-v1/NANOAODSIM
(58, 'unable to use client certificate (no key found or wrong pass phrase?)')

@thongonary FYI

[2019-03-19 16:01] thongonary commented on #395
@drkovalskyi I think this is another reason for a public account with common certificate.

[2019-03-19 16:18] vlimant commented on #395
fact checking 2 cents : service proxy or user proxy is the same for any service.
that error does not look related to the user certificate being used, but the "client certificate", either the host, or something on cmsweb end.
if it's the proxy (which it is not) everything would fail (which does not)

[2019-03-20 10:20] amaltaro opened #397 "Properly set Memory for StepChain workflows"
Different than TaskChain, StepChain workflows execute all steps into the same runtime environment (in the same job), thus the memory has to be properly setup.

The `Memory` parameter has to be set at the top level and it has to be the maximum memory setting found in a TaskChain workflow (in case conversion is in place).
See for an example:
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMg

[2019-03-20 10:35] vlimant commented on #397
that applies also to `Multicore` right ?

[2019-03-20 15:13] sharad1126 commented on #395
I just made a recovery with the script(recovery.py) for another request and that worked perfectly.

[code]

[2019-03-20 15:20] sharad1126 commented on #395
It finally worked. Guess it was some DBS issue from cmsweb end

[2019-03-21 15:41] amaltaro commented on #397
FYI @mcremone

[2019-03-21 15:41] amaltaro commented on #396
FYI @mcremone

[2019-03-22 09:19] vlimant commented on #393
sigh.
vlimant@vocms0275.cern.ch >python campaignsConfiguration.py --name RunIIAutumn18FSPremix
{
  "fractionpass": 0.95,
  "go": true,
  "lumisize": -1,
  "maxcopies": 1,
  "overflow": {
    "PREMIX": {}
  },
  "resize": "auto",
  "secondaries": {
    "": {}
  },
  "secondary_AAA": true,
  "tune": true
}

"" is still declared as a secondary. good thing is that https://github.com/CMSCompOps/WmAgent

[2019-03-22 09:20] vlimant commented on #393
that can only mean there is another source

[2019-03-22 10:48] sharad1126 commented on #393
RunIIAutumn18FSPremix
{
  "fractionpass": 0.95,
  "go": true,
  "lumisize": -1,
  "maxcopies": 1,
  "overflow": {
    "PREMIX": {}
  },
  "resize": "auto",
  "secondary_AAA": true,
  "tune": true
}

removed empty secondary as well

[2019-03-29 09:19] vlimant opened #399 "catch exception in actor and disable action"
it happens a couple of times already that if something goes wrong with actor on a given workflow, it keeps on trying and create multiple acdcs (~one every 5 mins essential).
better to try / catch the whole handling of the action and WC.remove_action(wfname) in case of exception

[2019-04-03 12:46] sharad1126 opened #400 "site column empty in workqueue link"
https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=vlimant_task_HIG-RunIIFall17wmLHEGS-01995__v1_T_181030_224109_3526
https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=vlimant_task_HIG-RunIIFall17wmLHEGS-02954__v1_T_181015_122154_4974

These two requests were in the system for a long time. I had a look at these links and

[2019-04-03 12:50] sharad1126 commented on #400
updates on these two requests,  I cloned and assigned both the workflows manually.

[2019-04-03 13:37] vlimant commented on #400
@sharad1126  did you mean to put a GH issue to WMCore instead.
@amaltaro FYI

[2019-04-03 13:40] #400 closed

[2019-04-03 19:39] #393 closed

[2019-04-09 20:29] vlimant opened #402 "no overflow for HI request"
For future reference https://github.com/CMSCompOps/WmAgentScripts/commit/c1db41b8582227d80fbac5509097b3ba422ce3e7 for which a true solution needs to be found. like setting the right campaign, restricting to the campaign allowed sites ...

[2019-04-12 07:16] vlimant opened #403 "move from mongodb to central couchdb"
@amaltaro and @vkuznet are suggesting to move the content of unified mongodb to reqmgr couchdb.
this would require to change insert, update, find, ... in many places, and can maybe done content by content once the proper manpower is identified

[2019-04-12 07:16] vlimant commented on #403
branching from https://github.com/dmwm/WMCore/issues/8324

[2019-04-12 12:37] vkuznet commented on #403
Jean-Roch, can you point to a few places where mongodb was used. Did you use common layer to work with DB or use plain mongodb calls. If later, I would suggest first to create a common layer/class which will use MongoDB as backend, then replace in a code direct calls to mongo with this class and later we can change the back-end.

Please also specify where mongodb resides now and how we can access

[2019-04-12 12:41] amaltaro commented on #403
I think it's important to know how MongoDB is used, such that we can make sure CouchDB would deliver the same performance/usability. Just as we do (or that we were suppose to do) for any service that joins the CMSWEB umbrella.

So, the very basic things like:
* number of daily requests
* average document size
* am I missing something?

[2019-04-12 13:00] vlimant commented on #403
@vkuznet  the db is on vocms0274, and using pymongo calls. the db is opened on read write and the node has ip restrictions.

anything in utils.py that has mongo_client() is using mongo

@amaltaro  for the metrics, that's probably something that can be done from vocms0274, looking at the mongo logs /var/log/mongodb/mongod.log

[2019-04-15 12:38] vkuznet commented on #403
I identified 13 unique databases that used by Unified, here there list:
[code]

If we'll agree to move them to CouchDB we need to know the following information
for each database:
- what is a total data volume in particular DB
- what is a turn around for docs in DB
- what is an injection rate
- does DB is temporary (meaning it serves as a cache) or persistent
- does DB should be central or local (

[2019-04-16 06:54] sharad1126 opened #405 "Checkor Module failing"
According to the logs and my understanding, the showerror script fails to open the error reports from various agents. Once it also logged about not able to copy to eos last week for which a service ticket(https://cern.service-now.com/service-portal/view-incident.do?n=INC1963814) was opened. Can someone please have a look why the module is failing again and again?

[2019-04-16 07:53] sharad1126 commented on #405
Checkor is trying to access this agent in the last failure log info.
[code]

This agent doesn't exists on https://cmsweb.cern.ch/wmstats/index.html - agent info.
@amaltaro @vlimant @thongonary FYI

[2019-04-16 08:01] sharad1126 opened #406 "htmlor module failing"
The error message is related to the trello client. Can someone please have a look?
[code]
@vlimant @thongonary FYI

[2019-04-17 08:17] sharad1126 commented on #405
@thongonary regarding the Eos service ticket, they have updated us. The issue looks like "connections issue to the eos cluster " and suggested us to update the xrootd to 4.8.6-1.

[2019-04-17 08:24] sharad1126 commented on #405
http://storage-ci.web.cern.ch/storage-ci/eos/citrine-depend/el-7/x86_64/

[2019-04-17 09:07] sharad1126 opened #407 "showerror module failing"
The module fails to get the logs from the vocms machines(wmagents).
eg.
[code]

[2019-04-17 09:09] sharad1126 commented on #407
I am not able to understand the reason for the failure. The agent is working. Is this related to xroot services(xrdcp) that isn't able to contact the agents?

@thongonary @vlimant @drkovalskyi

[2019-04-17 09:37] sharad1126 commented on #407
The end of the log states this:
[code]

[2019-04-17 11:32] drkovalskyi commented on #407
add debug info and/or try it out by hand

[2019-04-23 09:40] #397 closed

[2019-04-29 09:06] sharad1126 opened #412 "json valuerror not easy to understand"
should we change json.load to simplejson.load for assignor.py to understand where it fails @vlimant @thongonary ?.

This is log from today morning when the module failed(2019-04-29_08:25:17.log).
[code]

[2019-04-29 11:37] thongonary commented on #412
Usually it just means the json file is empty, likely due to EOS issue. Ideally there should be a protection to make it fail gracefully.

[2019-05-03 11:20] sharad1126 commented on #412
The same id happening for assignor again since noon today.

[2019-05-03 12:46] sharad1126 commented on #412
For assignor, what I can understand is, that we are getting this error while trying to find the aaa_mapping.
I print out once the json outputs and it fails after printing dataset_endpoints.

[2019-05-06 09:46] #406 closed

[2019-05-07 10:35] vlimant opened #421 "read mcdb lhe privatly produced files"
fresh from https://github.com/dmwm/WMCore/issues/7997 some restriction on site list for LheInputFiles=True should probably be removed now

[2019-05-16 12:46] vlimant opened #423 "restrict site list to remote secondary"
here

https://github.com/CMSCompOps/WmAgentScripts/blob/5c23367b5fbab9315cbcc073e030af1e8de623d6/Unified/assignor.py#L259

the allowed sites could be reduced to the list of sites in mapped aaa with the sec_availability

[2019-05-26 12:19] amaltaro opened #425 "Don't move old WMAgent versions to up&running"
If we have a new major release already in production, e.g.: 1.2.2.patch2, unified should not move old releases (e.g. 1.1.20.patch6) back to up&running (from the draining queue).

We might have incompatibilities (read new features) that could possibly affect central production.

[2019-05-27 08:55] sharad1126 commented on #425
As per the discussion with @amaltaro , he suggested to
1. Remove the low load check for agents so that the agents with low load don't go to draining.
2. Stop completely the agents to move from draining to up&running.

@thongonary @drkovalskyi  FYI

[2019-05-27 11:29] sharad1126 commented on #425
https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L5702 I think this is putting the agents to drain, but I am not sure what is offline. Will be investigating more about it.

[2019-06-06 14:43] thongonary opened #427 "Check for duplicated output before stepchain conversion"
So that it won't get converted and then be rejected by ReqMgr2.
Reference: https://its.cern.ch/jira/browse/CMSCOMPPR-6268

@amaltaro is there any other requirements we should pay attention to? It's better to have the same set
of requirements in ReqMgr2 and Unified so that Unified doesn't give the wrong stuff to ReqMgr2.

Clarification: "duplicated output" in the title means the same output module

[2019-06-06 17:26] thongonary commented on #427
@sharad1126 would you like to try to implement this?

[2019-06-06 18:28] amaltaro commented on #427
It's not really duplicated output, but duplicated pair of: output module + datatier.
Checking output module isn't straight forward, so I suggest you simply check whether the same datatier appears twice in the same request.

[2019-06-07 08:50] sharad1126 commented on #427
@thongonary sure I would like to work on this and would like to know more about it.

[2019-06-07 13:13] thongonary commented on #427
I think JR already wrote it
https://github.com/CMSCompOps/WmAgentScripts/blob/671f183af3c3a1e441534947d7a8da3324199105/utils.py#L6729
Not sure why it was turned off.

[2019-06-07 13:13] #427 closed

[2019-06-25 15:23] sharad1126 opened #431 "get workload :checkor: couchdb issue"
Recently we are getting the following couchdb access issues. https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L6654

https://cmsweb.cern.ch/reqmgr2/data/request/pdmvserv_task_SUS-RunIISummer15GS-00324__v1_T_190603_222934_2949

and also

https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/pdmvserv_task_SUS-RunIISummer15GS-00324__v1_T_190603_222934_2949

So technically it shouldn't

[2019-07-05 10:00] #431 closed

[2019-07-24 16:08] hufnagel opened #434 "can we add T3_US_SDSC to the list of US HPC Unified overflows to?"
It should use the same rules as T3_US_NERSC, T3_US_PSC and T3_US_TACC.

We recently commissioned SDSC Comet access in HEPCloud and want to start sending jobs.

[2019-07-24 17:06] thongonary commented on #434
Done https://github.com/CMSCompOps/WmAgentScripts/commit/f467e0be3ec6e8b965405a2afc2c917b215f570e

However I realized that PSC and TACC were taken out of overflow map last year -- not sure what's the reason https://github.com/CMSCompOps/WmAgentScripts/commit/466cd115de708443e128cf8fc2ad74a3439e3966

For now only NERSC, OSG and SDSC are in the overflow map. Do you want me to add PSC and TACC back?

[2019-07-24 17:09] thongonary commented on #434
Note that now NERSC and SDSC are receiving both overflowing jobs and jobs not requiring any input data.
PSC and TACC only receive jobs not requiring any input data.

[2019-07-24 18:27] hufnagel commented on #434
I thought all these HPC sites were treated the same. There is certainly no reason to treat them different, they all have good external network connectivity. So unless someone else has any objections, I would request that PSC and TACC are added back to the overflow map.

[2019-07-24 18:34] hufnagel commented on #434
Also, you said the change was made, but how long does this usually take to propagate to the submission machines (at FNAL). I assume here this is automatic, if we need to do something manually please let us know.

[2019-07-25 16:11] thongonary commented on #434
PSC and TACC back to overflow list https://github.com/CMSCompOps/WmAgentScripts/commit/d48f8dd61e7ab3932e33c97224a738300472c5a4

One thing though: I see NERSC, PSC, and TACC are all in SSB http://dashb-ssb.cern.ch/dashboard/request.py/getplotdata?columnid=237&batch=1&lastdata=1
but not T3_US_SDSC. I assume some action needs to be taken to put it there. This is not within my power.
(OSG is also not

[2019-07-25 16:16] thongonary opened #435 "Make available input fraction configurable as campaign parameter"
Right now it's hard-coded in stagor
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/stagor.py#L31

We should make this configurable as a campaign parameter, so that some campaign can start early (such as BParking) without waiting for the full input dataset).

@sharad1126 can you please try this? Let me know if you need help.

[2019-07-25 16:37] vlimant commented on #435
the functionality is there already https://github.com/CMSCompOps/WmAgentScripts/blob/master/campaigns.json#L2345

[2019-07-25 17:14] thongonary commented on #435
@amaltaro Should we add this `partial_copy` parameter to your new template? It's not directly related to distribution of the input dataset, but would be used for assignment. Depends on your final purpose.

[2019-07-25 17:24] amaltaro commented on #435
If I correctly understand the meaning of this `partial_copy`, which is:
* assign a workflow if its input has more than xx% availability (how we define availability here? blocks transferred / blocks to be transferred?)

then yes, we definitely need to have it in the campaign configuration to be used within WMCore.

[2019-07-25 18:03] thongonary commented on #435
@amaltaro That sounds right. Full definition here https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L3773-L3834

[2019-07-25 20:00] amaltaro commented on #435
I'd call that as "implementation" instead of definition though :-)

[2019-07-25 20:01] amaltaro commented on #435
If not available in the campaign, we assume it's `1`, correct?

[2019-07-25 20:07] thongonary commented on #435
Haha yes.

[2019-07-25 20:11] hufnagel commented on #434
Talking to Site Support to get T3_US_SDSC into SSB...

Coming back to my deployment question, when will this be active? Immediately? We haven't seen any jobs white listing T3_US_SDSC in the Fermilab WMAgent schedd yet.

[2019-07-25 20:13] thongonary commented on #434
Yes it should be within few hours. Not sure whether SSB presence could affect it.

[2019-07-25 20:35] #435 closed

[2019-07-29 16:04] thongonary commented on #434
@hufnagel Do you see jobs flowing to the sites? Can I close this?

[2019-07-29 16:20] thongonary opened #436 "Check on relval stat before announcement"
So that relval will not announce at 2% without anyone notice.

Perhaps just modify this
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/closor.py#L304
with the final statistics.

[2019-07-29 16:36] thongonary commented on #436
Actually it's already implemented.
https://github.com/CMSCompOps/WmAgentScripts/blob/aab1dabc8a3e5cc10326690be5e2031b3da4e2a8/Unified/closor.py#L300-L304
We just need to advertise it.

[2019-07-29 16:36] #436 closed

[2019-07-29 18:12] hufnagel commented on #434
We saw some jobs appearing for T3_US_SDSC, you can close this.

[2019-07-29 18:13] #434 closed

[2019-07-30 11:29] sharad1126 commented on #436
Ohh cool. sure will keep this point in the meeting.

[2019-07-30 14:10] sharad1126 opened #437 "gwmsmon* from doccache giving json error"
gwmsmon_prod_site_summary, gwmsmon_prod_maxused, gwmsmon_totals, gwmsmon_pool are giving an error since yesterday:
No JSON object could be decoded

http://cms-gwmsmon.cern.ch/totalview//json/site_summary opening this needs authentication. @thongonary I opened it on the browser and it asked for the sso. through the terminal we are able to curl it normally without authentication. what should we do t

[2019-07-30 14:18] thongonary commented on #437
Can you just print out the output in the code to see what does it get?

[2019-07-30 14:23] sharad1126 commented on #437
json.loads(os.popen('curl --retry 5 -s http://cms-gwmsmon.cern.ch/poolview/json/summary').read()) returns a json

[2019-08-01 11:43] sharad1126 commented on #437
the issue was related to the IPs not added to the gwmsmon in the whitelist. the IPs were added and now working fine.

[2019-08-01 11:43] #437 closed

[2019-08-08 13:46] thongonary opened #439 "Make NonCustodialSites selection better"
At the moment NonCustodialSites is chosen randomly from available/allowed T1 sites.
We should change the default setting to make it empty unless specified in the campaign configuration (such as for premix library production to be sent to FNAL and CERN).

[2019-08-08 13:55] sharad1126 opened #440 "Output data sets are stuck in production after the workflow is announced"
A list of Output datasets mentioned by PPD are stuck in production after the completion of the requests and they were announced. We should check what happened with these datasets and why were they not changed to VALID in dbs.

@thongonary @vlimant FYI

[2019-08-08 13:56] sharad1126 commented on #440
[code]

[2019-08-08 15:31] sharad1126 commented on #440
All of the requests are older than 50 days.

[2019-08-08 15:52] thongonary commented on #439
After a discussion with compops, a safer solution (but slightly more complicated) is to adjust the site selection algorithm in Unified so that the RAL situation where Unified doesn't know whether the output dataset will fit into the remaining disk space can be avoided.

At the moment the availability is computed from http://t3serv001.mit.edu/~cmsprod/IntelROCCS/Detox/SitesInfo.txt
(Availability =

[2019-08-09 12:04] sharad1126 commented on #439
@thongonary you mean to improve the algorithm that selects a site and assigns the parameter AutoApproveSubscriptionSites.
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/assignor.py#L515

[2019-08-09 21:21] thongonary commented on #439
@sharad1126 Nope
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/assignor.py#L514
which eventually depends on this
https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L2617

Looks like it selects a list of available sites independent from the considered workflow, so it would be hard to take each dataset size into account.

@nsmith- Is the formula (Availability = Quot

[2019-08-19 13:02] thongonary opened #441 "Only check small lumi output for taskchain"
Since it doesn't affect stepchain.

[2019-08-19 14:33] sharad1126 commented on #441
@thongonary can you please clarify what are we supposed to check here? I am a little confused with the title of the issue.

[2019-08-19 14:40] thongonary commented on #441
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/checkor.py#L955
Add one requirement for taskchain

[2019-08-19 15:15] sharad1126 commented on #441
ok basically to check ```if ttype is task```. I will add this condition too.

[2019-08-19 15:27] thongonary commented on #441
OK perhaps don't do it yet. For now just bypass thing manually and check number of total lumisecs.

[2019-08-19 15:33] sharad1126 commented on #441
sure, I am doing the same. I have already bypassed one and running acdc on one.

[2019-08-20 04:51] nsmith- commented on #439
Hi,
Would it be possible to use `availability = quota*0.8 - subscribed`, where `subscribed` is taken as either `cust_dest_bytes` for tape sites, or `noncust_dest_bytes` for disk sites, from: https://cmsweb.cern.ch/phedex/datasvc/doc/nodeusage ?
e.g. https://cmsweb.cern.ch/phedex/datasvc/json/prod/nodeusage?node=T1_UK_RAL_Disk would give `5250*0.8 - 4244`, i.e. out of space.
In this way, the metric

[2019-08-20 04:55] nsmith- commented on #439
Actually https://cmsweb.cern.ch/phedex/datasvc/doc/groupusage should be used as well,
i.e. `dest_bytes` from https://cmsweb.cern.ch/phedex/datasvc/json/prod/groupusage?node=T1_UK_RAL_Disk&group=DataOps
This way, both the group usage limit is respected, and in the case that the node is oversubscribed from other groups, that unified does not exacerbate the issue.

[2019-08-20 05:20] amaltaro commented on #439
Nick, just to make sure I understand the output of this API. `dest_bytes` says how much data has been subscribed to that node+group, while `node_bytes` says how much data has been stored by that node+group; and their difference is what's left to be transferred.

Am I reading that api correctly?

[2019-08-20 13:07] nsmith- commented on #439
Exactly

[2019-08-20 14:39] thongonary commented on #439
Nick, so what should we use? `dest_bytes` from `nodeusage`? `dest_bytes` from `groupusage`? Both? (How?)

[2019-08-20 20:24] nsmith- commented on #439
I would propose `available = min(quota - node_usage['noncust_dest_bytes'], quota*0.8 - group_usage['dest_bytes'])`

[2019-08-21 09:08] vlimant commented on #439
You absolutely need a fudge factor to mitigate the "dest bytes" ; the way that is proposed here above is going to set many more site to available=0 in practice, while there is some dynamicaly available space. "dest bytes" tells you, in N days, there willl be that much data more at the site, but nothing tells you how much will be also gone by then, and nothing tells you N.

Taking into account over

[2019-08-21 09:36] sharad1126 opened #442 "remaining_*_.html issues"
remainor module is not updating all the sites frequently. Also, while running it manually for single site, it gives an error:
[code]

the remaining html file updation could be due to gwmsmon* json files issues it is facing from time to time. @thongonary  FYI

[2019-08-21 13:22] nsmith- commented on #439
In light of the fudge factor, I would say then you could remove the `0.8` and just say `available = quota - group_usage['dest_bytes']`, since the metric represents the upper limit on the amount of data that will be at the site in the coming days.  The benefit is that if the queue starts to have runaway growth for whatever reason, unified will not exacerbate the issue.  Now, indeed for other group

[2019-08-27 06:34] vlimant commented on #439
using "expected_output_size" is the only reasonable way

[2019-09-09 07:59] sharad1126 opened #449 "remove the stepchain conversion email"
As per the emails, there is a confusion created by these emails to PdMv regarding clone and step chain conversion. We will remove the email sending from unified. @thongonary FYI

[2019-09-09 08:01] sharad1126 commented on #449
eg.
Cloned into cmsunified_task_HIN-pPb816Spring16GS-00151__v1_T_190907_060854_6418 by unified operator , reason: Transform to StepChain

[2019-09-09 11:55] sharad1126 opened #450 "phedex url issue for checkTransferLag"
@nsmith- @dmielaikaite @nataliaratnikova can you please have a look?

```http://cmsweb.cern.ch/phedex/datasvc/json/prod/subscriptions?request=1687295&create_since=1553024209.35001&collapse=n```

The url after appending '&collapse=n' isn't working or taking too much time to load.

@thongonary  FYI

[2019-09-09 11:55] sharad1126 commented on #450
https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L3505

[2019-09-09 12:40] sharad1126 commented on #449
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/rejector.py#L262 &
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/rejector.py#L265. we can just comment them.

[2019-09-09 12:52] thongonary commented on #449
Let's just turn off the clone message. The reject message is still important.

[2019-09-09 12:53] sharad1126 commented on #449
ok, I will comment out the line. hope this doesn't needs a PR.

[2019-09-09 13:21] sharad1126 commented on #449
https://github.com/CMSCompOps/WmAgentScripts/commit/6c5a9d7a5f8c72129641421793b7452992033a96

[2019-09-09 13:21] #449 closed

[2019-09-09 13:56] dmielaikaite commented on #450
this particular request was made for dataset level subscriptions and you want to see block level subscriptions with '&collapse=n'  so that is taking more time.
https://cmsweb.cern.ch/phedex/datasvc/doc/subscriptions

[2019-09-17 10:52] amaltaro commented on #425
@thongonary @sharad1126 can you please actually disable this module moving agents in and out of drain?
I see the same agent (vocms0283) - running an old version - going out of drain, then an hour or so later going into drain, and so on. This has been happening since Friday or Saturday, which just makes my life harder to get a new version (without flooding the system with pending jobs) in productio

[2019-09-17 18:06] thongonary commented on #425
@amaltaro Don't look like there is a simple switch. https://github.com/CMSCompOps/WmAgentScripts/commit/005a0418ae2a9151be426f9985719771725f5d33 is my attempt to not let Unified interfere with agent deployment

[2019-09-17 20:32] amaltaro commented on #425
Thanks, Thong. It might actually do the job!

[2019-09-17 20:39] thongonary commented on #425
Cool. I will close it here, feel free to reopen if it doesn't work.

[2019-09-17 20:47] vlimant commented on #425
guys, the only way old agents would be put back in action is if there was not new agent ready, and all agents maxed out.
the priority is to have work submitted, not to have agent draining. right?

[2019-09-18 05:39] amaltaro commented on #425
And I was wrong, it's not Unified that is moving that agent in and out, but the agent itself (likely disk thresholds), given that it's using `AgentDrainMode` instead of `UserDrainMode`. Apologies for the misleading information.

Still, we can profit of this issue to make some modifications to the code handling agent statuses in Unified. Like what was originally reported in this issue, and possibly

[2019-09-26 08:57] vlimant opened #451 "change trello secret to cmsunified"
at https://github.com/CMSCompOps/WmAgentScripts/blob/master/TrelloClient.py#L6 and in Unified/secret_trello.txt there are my credentials to interact with trello over the restapi.

one should create the credential for cmsunified and make the change

[2019-09-26 09:28] vlimant commented on #440
look at https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L5085

[2019-09-26 09:39] vlimant opened #452 "adiabatic agent drain"
this /afs/cern.ch/user/v/vlimant/public/ops/agent_drain.py would adiabatically get some jobs at higher priority to drain an agent faster. (partially related to #425)

@amaltaro can create a wmcore issue to integrate something along this line in the agent.

it has to be adiabatic ; only handfull of jobs getting promoted at any given time.

[2019-09-30 15:14] sharad1126 opened #454 "requests.packages.urllib3 module import error"
Looks like importing JIRA is giving issues.
[code]

https://cms-unified.web.cern.ch/cms-unified/logs/transferor/2019-09-30_17:10:58.log
https://cms-unified.web.cern.ch/cms-unified/logs/htmlor/2019-09-30_17:00:35.log
https://cms-unified.web.cern.ch/cms-unified/logs/stagor/2019-09-30_16:22:34.log

[2019-09-30 15:15] sharad1126 commented on #454
@thongonary should we disable JIRA client for the time being?

https://github.com/CMSCompOps/WmAgentScripts/blob/master/JIRAClient.py

[2019-09-30 22:32] thongonary commented on #454
@sharad1126  please go ahead.

[2019-10-01 13:02] sharad1126 commented on #454
After analysing it looks like a dependency error from requests, urllib3 or chardet.
The current versions are:
requests: 2.22.0
urlli3: 1.25.6
chardet:3.0.4

To solve the issue, I have manually downgraded the chardet to 3.0.2 which doesn't gives the error as of now. But I think as the puppet cycle runs on the machines, it might update the versions again which might cause trouble.

https://its.cern.

[2019-10-01 14:41] sharad1126 commented on #454
got the latest error from 0268.
[code]

[2019-10-03 15:15] thongonary commented on #454
To be more specific, in case someone else need it for other machines (ie, 0275)
[code]

[2019-10-03 15:29] sharad1126 commented on #454
sure. I did the same. But I had to force-reinstall requests and urllib3 again today morning.

[2019-10-07 08:33] sharad1126 commented on #454
@thongonary thanks for the quick fix but it also failed last night and today morning. can you help me point out what packages are exported when unified runs
``` export PYTHONPATH=$PYTHONPATH:/usr/lib64/python2.7/site-packages```

[2019-10-07 09:35] thongonary commented on #454
Nothing. The necessary packages are in `/usr/lib/python2.7/site-packages`.

[2019-10-07 09:39] #454 closed

[2019-10-07 14:39] thongonary opened #457 "Workflows stuck in "staged" > 7 days should be automatically synced back to "considered""
Because likely the input dataset has been removed after staging.

[2019-10-10 12:07] sharad1126 commented on #451
I have made a cmsunified account for trello board and got the key, token and secret values from the AP. @vlimant  Do we also need to provide it some allowed origins?

[2019-10-10 13:06] sharad1126 commented on #451
the credentials in all machines have been changed.

[2019-10-10 13:06] #451 closed

[2019-10-18 01:34] #396 closed

[2019-10-22 08:50] sharad1126 opened #459 "http://snarayan.web.cern.ch/snarayan/TransferErrors url is not accessible"
https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L1955 and
https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L2135

@thongonary should we remove this url from the unified code and the function that calls this? Nick already confirmed that he isn't able to access this url and Sid is not working with transfer team.

[2019-10-22 13:09] sharad1126 commented on #459
Function getAllStuckDataset() in utils.py calls this URL. The other modules using/depending on this are *stagor*(https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/stagor.py#L244), *assignor*(https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/assignor.py#L68), *completor*(https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/completor.py#L63).

[2019-10-25 14:13] #459 closed

[2019-11-19 09:12] vlimant opened #465 "throttle campaign in transferor"
as per question at ops meeting on Nov 18. Easy to compute the number of active workflows per campaign and put a configurable cap in the campaign configuration

[2019-11-19 09:15] drkovalskyi commented on #465
What is the reason to do so? Isn't it enough that we have a transfer queue and priorities?

[2019-11-19 09:27] drkovalskyi commented on #465
For now I don't see a use case for throttling a campaign. It should be something extremely sick or special. For example if we consider RelVal a campaign it will clearly need some other controls if it can run everywhere with top priority. I would leave it as is till we have such a use case.

[2019-11-21 19:00] thongonary opened #467 "Checkor still sends output dataset to CERN tape"
**Impact of the bug**
CERN tape

**Describe the bug**
CERN tape has been set a virtual quota of 0 to prevent any automatic output sent there. However for some reason checkor still sends output datasets to it.

**How to reproduce it**
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=%2FSpin0_ggPhi12j_g1_800_PseudoScalar_13TeV-madgraph%2FRunIISummer16NanoAODv3-PUMoriond17_94X_mcRun2_asymp

[2019-11-22 10:33] sharad1126 commented on #467
@thongonary do you think we might need to check unifiedConfigurations.json and remove T0 from there - may be this is one https://github.com/CMSCompOps/WmAgentScripts/blob/master/unifiedConfiguration.json#L91

[2019-11-22 11:05] vlimant commented on #467
looking at https://cmsweb.cern.ch/phedex/prod/Request::View?type=xfer;nodes=T0_CH_CERN_MSS;state=appr and because there is no funny business, it can only mean that on Oct 23, the value of T0_CH_CERN_MSS was not zero.

Looking at all other manual operations there : #469

[2019-11-26 18:04] nsmith- commented on #467
Indeed there was a brief period of a few hours that day where the value was nonzero in the tape usage json.

[2019-11-26 22:55] #467 closed

[2019-12-13 16:08] vlimant opened #476 "further on DBS api"
continue on #462

[2020-01-16 10:24] sharad1126 opened #478 "remove datasets from transfers_status as 0 is duplicate transfer is completed"
**Impact of the bug**
In case the dataset isn't able to transfer, unified creates a duplicate transfer on syncing back to considered but the transfer_status.json shows it 0 as the original transfer request doesn't gets completed. This increases confusion for the data management team.

**Describe the bug**
/WprimeToWZToWlepZlep_narrow_M-3000_13TeV-madgraph/RunIISummer16DR80Premix-PUMoriond17_80X_mc

[2020-01-27 08:46] vlimant opened #481 "preserve single step Mutlicore in task-step conversion"
@drkovalskyi following up on your changes to the check on task/step, if one is going to bypass the check on having all task at the same number of cores, one has to also modify

https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/rejector.py#L212

https://github.com/CMSCompOps/WmAgentScripts/commit/6d6fbcb42f237bba156f05d2ba7a289b284e95bf#diff-75889290327093b2c28fc9f61fd9e7d3R182

to t

[2020-01-27 08:47] vlimant commented on #481
with ref to #479

[2020-02-06 12:20] sharad1126 opened #487 "remove legacy code/links decommissioned"
**Impact of the bug**
check function call in unified production instance

**Describe the bug**
dashb-cms* links were decommissioned in July 2018. https://its.cern.ch/jira/browse/CMSMONIT-124?focusedCommentId=2813499&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-2813499. Still exists in the code.

**How to reproduce it**
Code exists in unified modules.

**Expected

[2020-02-06 14:35] sharad1126 opened #488 "remove the commented dashb-ssb links and migrate 4 used dashb-ssb to monit call"
**Impact of the bug**
Once the dashb-ssb stops on 17/2/2020, the json files will not be working.

**Describe the bug**
Migration of the following dashb-ssb links to monit call.
[code]

**How to reproduce it**
dashb-ssb links will not work after decommissioning.

**Expected behavior**

**Additional context and error message**
Using the token from monit, make a call and replace the python curl call.

[2020-02-06 15:24] sharad1126 commented on #488
[code]

[2020-02-13 10:30] sharad1126 commented on #488
mapping for dashb-ssb* to monit
[code]

[2020-02-20 09:22] vlimant opened #493 "Query Kibana/Monit directly instead of gwmsmon"
as per https://github.com/dmwm/gwmsmon/issues/23 equalizor should be made to query kibana/monit since gwmsmon is only a messenger at this point (messenger that does not respond anymore BTW)

job tuning / resizing will then be properly enabled

[2020-02-21 09:20] #488 closed

[2020-02-25 14:45] sharad1126 opened #494 "elastic search for es-unified endpoint to be migrated to latest endpoint for ES6/7"
**Impact of the bug**
es-unified.cern.ch

**Describe the bug**
migrate elastic search to latest if needed.

**How to reproduce it**
https://github.com/CMSCompOps/WmAgentScripts/blob/931b957566608d8c6d6423fa509786b3b4220c6f/utils.py#L105
https://github.com/CMSCompOps/WmAgentScripts/blob/931b957566608d8c6d6423fa509786b3b4220c6f/utils.py#L170
https://github.com/CMSCompOps/WmAgentScripts/blob/931b9575

[2020-02-27 14:30] sharad1126 commented on #494
https://cern.service-now.com/service-portal/view-request.do?n=RQF1537629

[2020-02-27 14:31] sharad1126 commented on #494
https://cern.service-now.com/service-portal/view-request.do?n=RQF1537629

[2020-02-28 10:14] sharad1126 commented on #494
As per the ticket, the only action is to change endpoint to es-unified7.cern.ch once the migration of old data is done.

[2020-03-02 10:33] sharad1126 opened #497 "cleanlog.sh script issues"
**Impact of the bug**
local logs in machines

**Describe the bug**
vocms0274 doesn't has acrontab setup properly on it as per puppet.
https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocms/blob/master/code/manifests/unified/firewall.pp#L21
therefore, https://github.com/CMSCompOps/WmAgentScripts/blob/master/acrontab.list#L46 cannot run.

**How to reproduce it**
https://github.com/CMSCompOps/WmAgentScr

[2020-03-02 10:35] sharad1126 commented on #497
Also, in 0275, looks like some permission issues.
[code]

[2020-03-03 12:33] sharad1126 commented on #494
https://github.com/CMSCompOps/WmAgentScripts/blob/931b957566608d8c6d6423fa509786b3b4220c6f/utils.py#L100-L102
doesn't works as the url is deprecated.

[2020-03-03 12:46] sharad1126 commented on #494
@vlimant can you please have a look and clarify why we have so many functions for ES. sendLog, new_sendLog, searchLog, new_searchLog. @z4027163 FYI

[2020-03-03 13:03] sharad1126 commented on #494
from https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L168 looks like it was the old instance. probably we need to use this function again for es-unified to es-unified7.

[2020-03-08 13:39] sharad1126 opened #499 "rejector module gives error while using personal account"
**Impact of the bug**
Doesn't informs McM about rejection. Not sure about the set_trouble status and dataset -k option.

**Describe the bug**
[code]
**How to reproduce it**
use the rejector.py on a workflow.

**Expected behavior**
Shouldn't give the above JSON error, and cookie errors.

**Additional context and error message**
Probably something @jenimal can start working on and will give you a ha

[2020-03-09 08:41] vlimant commented on #499
your sso cookie is outdated

[2020-03-09 08:47] sharad1126 commented on #499
got it. Thanks.

[2020-03-09 08:47] #499 closed

[2020-03-09 09:21] #494 closed

[2020-03-10 10:53] sharad1126 commented on #493
@z4027163 can you see how to also assign this issue to @jenimal , I don't see her name in assignee dropdown list.

[2020-03-10 14:21] #497 closed

[2020-03-11 08:13] vlimant opened #501 "monit is unstable : failed to get site configuration"
#492 lead to failures in getting site configuration https://github.com/CMSCompOps/WmAgentScripts/commit/3334d6925ba24af3315dd152978654091cb9767f

[2020-03-11 08:15] sharad1126 commented on #501
@vlimant i have already a email thread open for this with the site support team and MonIT team.

[2020-03-11 08:16] sharad1126 commented on #501
Can you please tell why you commented out the send email? It’s good to know when it failed so we can get this fixed from MONIT team.

[2020-03-11 08:33] sharad1126 commented on #501
Just realised it's due to https://cern.service-now.com/service-portal/view-outage.do?n=OTG0054760.

[2020-03-11 09:07] vlimant commented on #501
bombing one's inbox with thousands of emails is not really the way to go, is it. removing that was mandatory. having unified broken due to this is not even a good thing (the last source of site status information was far more stable overall), hence #502

https://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=doccache was/is the source of information to keep an eye on

[2020-03-11 09:10] vlimant commented on #501
should the site status/monit be put in a critical component @drkovalskyi @z4027163 ?
it would then have to be put under componentInfo

[2020-03-11 09:25] sharad1126 commented on #501
I agree, but I didn't know that it was bombarding and that's why I removed the comment.

I think even if the doccache exists, still it showed no document available for other metrics so I am not sure even putting this one in doccache is going to help a lot.

[2020-03-12 08:54] #487 closed

[2020-03-12 10:02] sharad1126 opened #503 "Links in htmlor that were decommissioned"
**Impact of the bug**
A few links in htmlor module were decommissioned and so commented out. Doesn't displays on main unified page anymore.

**Describe the bug**
A few links in htmlor module were decommissioned and so commented out. In #489  the links have been commented out as the conclusion and the jira ticket https://its.cern.ch/jira/browse/CMSMONIT-188 is open to discuss between PnR and monit

[2020-03-24 17:43] sharad1126 opened #509 "new wmagent release changes recovermissinglumis.py script"
**Impact of the bug**
recovermissinglumis.py cannot run

**Describe the bug**
As sitedb migrated to cric, wmagent changed the code a while ago. it has been implemented in https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/CRIC/CRIC.py#L195 and we need to change https://github.com/CMSCompOps/WmAgentScripts/blob/master/recoverMissingLumis.py#L309 accordingly.

**How to reproduce i

[2020-03-24 18:22] vlimant opened #510 "email "phedex is acting up""
For the record on a mystery failure of Phedex, that had impacted unified in the past, that has a protection which @nsmith- and @dr-stringfellow are wondering about.

`subscribor` is try to get all unassigned blocks

https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/subscribor.py#L56

and make a subscription to DataOps (without an actual transfer) just so that it belongs and is count

[2020-03-25 04:51] scarletnorberg opened #511 "Removing Step chain message from Critical log"
It just causes extra messages that are not needed and not critical in the critical message log.

This is printed in critical logs: "the conversion of WF name to stepchain encoutered different value of Multicore 8 != 1"

Apparently it is something coming from the code that transform task chain to step chain. It’s not really an error.
see this log from the workflow you sent
invalidating the workflow

[2020-03-25 14:27] #509 closed

[2020-04-04 09:20] sharad1126 opened #521 "MongoDB grows in size and is not removing old data"
**Impact of the bug**
MongoDB db reached 867GB on 03/04/2020. It had 436 unified.* files in the ```/data/mongodb/db``` . This made all modules stop running as there was no space left in the /dev/vdb1.

**Describe the bug**
MongoDB grows in size and didn't removed the old data. The ```/data``` grew to 100% and all modules therefore stopped working.

**How to reproduce it**
Better not to

**Expected

[2020-04-04 09:21] sharad1126 commented on #521
[code]

[code]

[code]

[code]

[2020-04-04 09:23] sharad1126 commented on #521
Steps taken by me:
1. Shift ```/data/mongodb/bk_mongobd``` and ```/data/mongodb/logs``` to ```/eos/cms/store/unified/bk_mongobd``` and clean this from ```/data/mongodb```.
2. Run ```> db.runCommand({compact: 'agentInfo'})``` but it did no help in reducing the data size.

[2020-04-04 09:25] sharad1126 commented on #521
After @z4027163 removed the data from the ```/data/mongodb/db```, the status is:

[code]

[2020-04-04 09:27] sharad1126 commented on #521
Another thing to understand is, why does the mongo makes so many files for the unified db at the same time!

[code]

[2020-04-04 09:34] sharad1126 commented on #521
@z4027163 can you please explain a bit more explicitly what you did in the steps. what all exactly you deleted? Did you enable journal while restarting the mongo or not?

[code]

[2020-04-04 10:07] vlimant commented on #521
@dabercro

it seems something is coming from the "prep" collection of the wtc-console

[code]

the top 10 of collection size is

[code]

reportInfo is purged https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/addHoc.py#L130 regularly
cacheInfo is purged https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/deadlock.py#L16 regularly
remainingDatasetInfo is not purged yet; #

[2020-04-04 14:33] vkuznet commented on #521
Sharad,
so my understanding that after deletion of old docs you went roughly from 900GB to 7GB, right? This is quite a relief. I reviewed #522  and its logic seems correct. This IS THE way I do in DAS/WMArchive and I never run compaction/repair on my DBs. I hope you put everything under control now.

Please keep in mind, the purge can be done in two different ways:
- you can run separate process (

[2020-04-04 22:34] dabercro commented on #521
We don't have any developers or users for `wtc-console`. The new plan is to instead port the needed functionality into Rucio's OpInt Framework. I'll just turn that console off for now. Hopefully it will stop filling up MongoDB.

[2020-04-05 16:00] jenimal commented on #521
Is it ready to go?  we need to keep a close eye on things so that we don’t refill the MongoDB again.

Jen

On Apr 4, 2020, at 5:34 PM, Daniel Abercrombie <notifications@github.com<mailto:notifications@github.com>> wrote:

We don't have any developers or users for wtc-console. The new plan is to instead port the needed functionality into Rucio's OpInt Framework. I'll just turn that console off for

[2020-04-07 14:11] sharad1126 opened #525 "rejector is not running from vocms0275 and vocms0277"
**Impact of the bug**
Running rejector script gives segmentation fault and so script doesn't returns what it is suppose to.

**Describe the bug**
sqlalchemy is a dependency which is used from the wmagent inside the machines. vocms0275 and vocms0277 uses the latest wmagent version. This could be a reason for the issue.

**How to reproduce it**
running rejector.py in any of the two machines.

**Expe

[2020-04-07 14:13] sharad1126 commented on #525
Made a ticket for the oracle db team too but looks like this is more of a client side issue. https://cern.service-now.com/service-portal/view-incident.do?n=INC2377824

Alan mentioned on slack:
[code]

[2020-04-07 14:37] sharad1126 commented on #525
Looks like when we comment out
[code]
the script runs without issues. this means the session for the component info is somewhat conflicting with the new session made by rejector.

[2020-04-15 16:56] todor-ivanov opened #530 "Exclude NANOD from Unified Output data placement"
**Impact of the new feature**
Unified, WMCore

**Is your feature request related to a problem? Please describe.**
We need to disable Output data placement from Unified for NANOAOD and NANOAODSIM. For more details, please see the relevant issue in WMCore:

https://github.com/dmwm/WMCore/issues/9634

**Describe the solution you'd like**
Just disable it from Unified config for standard Workflows and

[2020-04-17 08:34] sharad1126 commented on #525
@z4027163 did you try to figure this out what should we do here?
@vlimant any suggestions please?

[2020-04-17 09:26] vlimant commented on #525
Interference of

[code]

and

f3856274001f3ea533ecbdbc1c8620a8827c334f

there's probably some deep python knowledge to be extracted from understanding exactly what is going on. No time for this

[2020-04-17 14:23] sharad1126 opened #534 "what is the use of _PR_newco and _PR_ref in assigncycle"
**Impact of the bug**
assignor is running two times more and sometimes get stuck.

**Describe the bug**
Not able to find _PR_newco and _PR_ref used in [assigncycle](https://github.com/CMSCompOps/WmAgentScripts/blob/c177b4f7cf042fc8c75b75f59e82cb8766c457d8/assigncycle.sh#L23) as a weird parameter for assignor.py

**How to reproduce it**
https://github.com/CMSCompOps/WmAgentScripts/blob/c177b4f7cf04

[2020-04-17 14:24] sharad1126 commented on #534
@vlimant can you please shed some light here?

[2020-04-17 14:29] sharad1126 opened #535 "why is transferor still considering workflows"
**Impact of the bug**
transferor is considering workflows in considered

**Describe the bug**
After the mitigation of input data placement to WMCore MS #519 , unified should just directly assign workflows. Why is transferor still considering workflows?

**How to reproduce it**
check these two logs in transferor:
/eos/cms/store/unified/www/logs/transferor/
2020-04-17_15:10:38.log
2020-04-17_16:10:2

[2020-04-17 14:34] sharad1126 opened #536 "After the input dataplacement migration, stagor is not needed"
**Impact of the new feature**
would avoid running one script on machine and stop making jsons which are not needed

**Is your feature request related to a problem? Please describe.**
#519

**Describe the solution you'd like**
let's comment out the stagor module in precycle.sh

[2020-04-17 15:35] sharad1126 commented on #535
I saw two workflows now and both of them are stepchain conversion ones. @amaltaro do you think we missed out something for the stepchain conversion regarding the input data placement to change status?

https://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=transferor&limit=50&size=1000

[code]

[2020-04-17 17:41] vlimant opened #538 "check dataset size for all output going to tape"
how come that 1.2PB dataset made it to an tape request while the limit (way too high already) is 850TB ?

https://github.com/CMSCompOps/WmAgentScripts/blob/master/unifiedConfiguration.json#L217

it's because the check ins only done for the dataset passed to ddm

https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/checkor.py#L1037

to be fixed

[2020-04-17 17:54] amaltaro commented on #535
Linking this log as well:
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=task_JME-RunIISummer19UL17DIGI-00010

Sharad, I had a quick look at the taskchain to stepchain conversion and I couldn't find to which Unified state those get set to.

[2020-04-20 08:56] sharad1126 commented on #535
@amaltaro my understanding is that when the workflow conversion happens to step-chain, the workflow is set to status `considered` instead of `staged` and that's when `transferor` picks it up instead of `assignor` picking it up

[2020-04-20 08:58] sharad1126 commented on #535
example:
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_HIN-HINPbPbAutumn18pLHE-00013

[2020-04-20 09:06] sharad1126 commented on #536
All the files created by stagor are now empty excep:
https://cms-unified.web.cern.ch/cms-unified/lost_files_datasets.json
https://cms-unified.web.cern.ch/cms-unified/lost_blocks_datasets.json

Do we know if anyone is checking these two files or not?
@nsmith-  @z4027163  @vlimant @dabercro @amaltaro

Please confirm so we can stop running stagor module. Thanks.

[2020-04-20 09:13] amaltaro commented on #536
I'm all in favor of decommissioning unneeded modules/code. However, if you do so, please make it one pull request per module/feature, with a very clear commit message. Just in case we ever need to get back there for reviving the module, recycling the logic, etc.

[2020-04-20 09:15] amaltaro commented on #535
It must be it, but I failed to find where that status get set for StepChains...

[2020-04-20 09:23] sharad1126 commented on #536
@amaltaro exactly what I have done as you can see above #537

[2020-04-20 09:29] amaltaro commented on #536
Sounds good! You might want to create another issue to eventually deprecate/delete that module as well.

[2020-04-20 09:55] sharad1126 commented on #535
I think we can just comment out the transferor module as injector and assignor will automatically work on these unless there is an error.

[2020-04-20 17:25] nsmith- commented on #536
`lost_files_datasets.json` looks empty now for me.
For `lost_blocks_datasets.json` what are these supposed to indicate?
@dr-stringfellow

[2020-04-21 16:04] sharad1126 opened #540 "Remove phedex from component check and its related functions that aren't being used now"
**Impact of the new feature**
Let's remove phedex as a component check from unified scripts.

**Is your feature request related to a problem? Please describe.**
As we won't be using phedex as such now for input data placement, do you think we should remove it from a set of component checks?

**Describe the solution you'd like**
remove all phedex related functions that are not needed.

**Additional

[2020-04-22 07:48] sharad1126 commented on #535
@amaltaro another log 2020-04-21_23:10:42.log shows it considered workflows in transferor modules and checked all the datasets for:
[code]

[2020-04-22 07:53] #536 closed

[2020-04-22 13:06] vlimant opened #541 "Check estimated dataset output size during assignment"
instead of letting overly large dataset be produced ; check what is the estimated output size prior to assignment.

[2020-04-22 14:42] todor-ivanov opened #542 "Expose Unified environment configuration in a file"
**Impact of the new feature**
Unified

**Is your feature request related to a problem? Please describe.**
We need to create a testing environment for Unified, which should have a different configuration than the production environment. Exposing the Unified environment configuration parameters to a file gives us the possibility to have those configuration separate and the two environments to be ass

[2020-04-22 21:22] todor-ivanov opened #545 "Communicate ParentageResolved flag with Unified"
**Impact of the new feature**
WMAgent & Unified

**Is your feature request related to a problem? Please describe.**
Due to the asynchronous execution of the merge jobs, WMAgent cannot figure out the correct file parentage information. Instead, the WM system relies in another thread that fixes the output dataset parentage information once the workflow gets into `announced` status. If this external

[2020-04-23 08:02] amaltaro commented on #545
Thanks, Todor. I have made a few modifications to the issue description to make it more precise.

[2020-04-23 14:28] todor-ivanov commented on #545
Thank you @amaltaro. Your change makes things much cleaner.

[2020-04-27 08:57] sharad1126 commented on #501
@vlimant I thought that the cache was supposed to use the last available doc for the ssb metrics if the ssb fetch is failed according to the last PR #502  but unfortunately looks like that isn't the case. assignor module fails since morning because the site-prod status isn't available.

[2020-04-27 09:35] sharad1126 commented on #501
From the assignor logs, `2020-04-27_05:40:26.log` ran without issues as the json was present in kibana but the next log `2020-04-27_06:05:25.log` gave the error for the metric and never used the last doc. this is something we need to check why https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L1884 didn't work as expected.

[2020-04-27 09:39] sharad1126 commented on #501
The error is as below:

[code]

[2020-04-27 09:44] vlimant commented on #501
the last doc for "ssb_prod_status" is {}
I think you have the wrong analysis, the logic in the code is such that the lastdoc will be taken. Only {} was stored as the last doc at some point, because get_dashbssb returned an empty list

[2020-04-27 09:47] sharad1126 commented on #501
ohh yeah... we might need to put another check to retain the previous log in case we encounter {} as a fetch result.

[2020-04-27 09:56] sharad1126 commented on #501
https://github.com/CMSCompOps/WmAgentScripts/commit/15f55d57b1c7d4d6588755be29e029ca85f8dfc5 this should probably help. will keep an eye.

[2020-04-28 09:45] vlimant commented on #501
the cache is purged ~constantly of expired documents (to avoid accumulation), and hence ssh_prod_status gets deleted too soon, no last doc means {} is used instead

980b5d6e1a57f58eceb6b44eac486c9adb9b5ba8  purges with 2 days grace period ; hopefully monit will never be down for that long

[2020-04-28 09:45] #501 closed

[2020-04-28 09:46] sharad1126 commented on #501
Thanks for changing that @vlimant . Hope this helps us. We are also working with SS team to make sure we get an alternative json for the ssb_prod_status so we don't have to depend on the unreliable monit services.

[2020-04-29 19:03] z4027163 commented on #535
@amaltaro @sharad1126 From my understanding, the step chain conversion happens in "injector"  [1],  where its status is set to "trouble" because of --clone option. Then its status is changed to "considered" at [2]. Those happen after the "staged" set up in injector (If I understand correctly, we are supposed to set wf status to staged in injector). So changing [2] to "staged" could solve the probl

[2020-04-30 08:40] sharad1126 commented on #535
@amaltaro @z4027163 I think your comments makes it more clear. I will make a PR now.

[2020-04-30 09:18] #535 closed

[2020-04-30 09:24] sharad1126 opened #550 "Stop transferor module"
**Impact of the new feature**
With the WMCore MS transfer, we don't need transferor to run anymore.

**Is your feature request related to a problem? Please describe.**
Stepchain workflows were still considered by transferor but #549 should solve this.

**Describe the solution you'd like**
Stop transferor module:
[1] https://github.com/CMSCompOps/WmAgentScripts/blob/master/precycle.sh

[2] https://

[2020-04-30 14:19] sharad1126 opened #553 "View oracledb locks made by unified"
**Impact of the new feature**
We don't have some place where we can find oracledb locks. It makes investigating dynamo locks or others difficult to identify.

**Is your feature request related to a problem? Please describe.**
Since  2020-04-30_01:10:15 the transferor module says there is a dynamo lock. Benedikt told that it is due to a lock in oracle db which apparently exists since last 13 hours.

[2020-04-30 14:20] sharad1126 commented on #553
[code]

[2020-05-04 09:03] #550 closed

[2020-05-04 09:17] sharad1126 opened #555 "looks like logscycle.sh is not enable in acrontab"
**Impact of the bug**
condor logs are not being produced in https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/efficiencor.py

**Describe the bug**
acrontab has been commented out

**How to reproduce it**
check acrontab and logs

**Expected behavior**
if acrontab is not commented, it should produce condor logs.

**Additional context and error message**
@vlimant @thongonary do you kno

[2020-05-04 09:20] sharad1126 opened #556 "inputscycle.sh is commented out in acrontab"
**Impact of the bug**
inputs_summary.py is not running

**Describe the bug**
inputscycle.sh is commented out in the acrontab.

**How to reproduce it**
check the logs and acrontab.

**Expected behavior**
not sure

**Additional context and error message**
@vlimant @thongonary any suggestions?
@amaltaro @z4027163 fyi

[2020-05-04 09:21] sharad1126 commented on #555
@amaltaro this is related to what @dpiparo was asking us that day about condor logs on mattermost channel.

[2020-05-05 15:52] dr-stringfellow commented on #510
@amaltaro @vlimant @nsmith- @z4027163
Since a week or so, we are seeing this email dozens of times a day. There is no development work going on in phedex anymore, but something is now clearly causing this to happen very frequently.

[2020-05-05 16:33] vlimant commented on #510
I have not seen any such emails recently myself. Anything bad happening, is happening on phedex side c.f. https://github.com/dmwm/PHEDEX/issues/1117

[2020-05-05 16:55] nsmith- commented on #510
Can you be more specific about what date the rate of such mails increased? Maybe we can correlate it with more load on datasvc, e.g. via rucio sync or otherwise

[2020-05-05 17:30] dr-stringfellow commented on #510
Sorry, couldn't find a better way to get you this information other than:

https://www.dropbox.com/sh/c90bs1830rm5vlg/AABzw7p2cNBc7Z050IIymSkXa?dl=0

@vlimant Yes, the bug is on the PhEDEx side, and it won't be fixed :(, but maybe other services need to know about this right now. In case they see something strange, it might be because of the total nonsense phedex response.